.welcome {
    --body-background: var(--color-white);
}

.welcome main {
    padding-block: 0;
}

.welcome main header {
    background-color: var(--color-blue-6);
    color: var(--color-white);
    margin-block-start: 0;
    padding-block: var(--space-16);
    text-align: center;
}

.welcome main header h1,
.welcome main header p {
    color: var(--color-white);
}

.welcome main .cta {
    display: inline-flex;
    min-width: var(--space-12);
    width: auto;
}

.welcome section {
    padding-block: var(--space-16);
}

.welcome .grid {
    margin-block-start: var(--space-16);
}

.welcome .grid .box {
    border-block-start-style: solid;
    border-block-start-width: var(--border-3);
    padding-inline: 0;
}

.welcome .dark {
    --heading-color: var(--color-white);
}

.full {
    left: calc(50% - 50vw);
    position: relative;
    width: 100vw;
}
