/node_modules
/public/hot
/public/storage
/public/robots.txt
/public/sitemap.xml
/resources/lang/lsq
/resources/lang/lsq.json
/storage/*.key
/vendor
.DS_Store
.env
.env.backup
.idea
.nova
.php-cs-fixer.cache
.phpstorm.meta.php
.phpunit.result.cache
.vscode
Homestead.json
Homestead.yaml
npm-debug.log
phpunit.xml
yarn-error.log
_ide_helper*
/public/build/assets/
/public/build/manifest.json
.env.local-dev
