version: '3'
services:

  platform.proxy:
    build:
      context: ./.local-deploy/accessibility-proxy/
      dockerfile: Dockerfile
      args:
        SSL_SUBJECT: "/C=CA/ST=Organization State/L=Organization City/O=Organization Name/OU=Organization Unit/CN=platform.test"
    container_name: platform.proxy
    depends_on:
      platform.test:
        condition: service_healthy
    networks:
      - network.platform.proxy
    ports:
      - '${APP_PORT:-80}:80'
      - 443:443

  platform.test:
    build:
      context: ./
      dockerfile: ./.kube/app/Dockerfile
      args:
        CIPHERSWEET_KEY: '${CIPHERSWEET_KEY}'
    container_name: platform.test
    # extra_hosts:
    #   - 'host.docker.internal:host-gateway'
    env_file: .env
    environment:
      USER_ID: $WWWUSER # change to your numerical user id so that you can work on files in real time and have write privileges
    entrypoint: /tmp/entrypoint.sh # override entrypoint file
    volumes:
      - './app:/app/app'
      - './config:/app/config'
      - './database:/app/database'
      - './routes:/app/routes'
      - './tests:/app/tests'
      - './public:/app/public'
      - 'volume.platform.test:/opt/data'
      - './.local-deploy/accessibility-app/entrypoint.sh:/tmp/entrypoint.sh' # create different entrypoint file
      - './.local-deploy/accessibility-app/etc/nginx/includes:/etc/nginx/includes' # add include for http & https blocks
      - './.local-deploy/accessibility-app/etc/nginx/nginx.conf:/etc/nginx/nginx.conf' # replace primary nginx config
      - './.local-deploy/accessibility-app/php.ini-development:/usr/local/etc/php/php.ini-development' # Deploy development php settings
    networks:
      - network.platform.mail
      - network.platform.mysql
      - network.platform.proxy
      - network.platform.redis
    depends_on:
      platform.mysql:
        condition: service_healthy
      platform.redis:
        condition: service_healthy
      platform.meilisearch:
        condition: service_healthy
      platform.selenium:
        condition: service_started
    healthcheck:
      test: ["CMD", "wget", "--no-verbose", "--spider",  "http://localhost:8080/nginx_status"]
      retries: 3
      timeout: 5s

  platform.mysql:
    container_name: platform.mysql
    image: docker.io/bitnami/mysql:8.0
    ports:
      - '${FORWARD_DB_PORT:-3306}:3306'
    environment:
      MYSQL_DATABASE: '${DB_DATABASE}'
      MYSQL_ROOT_PASSWORD: '${DB_PASSWORD}'
    volumes:
      - 'volume.platform.mysql:/bitnami/mysql/data'
      - '.local-deploy/accessibility-db/opt/bitnami/mysql/conf/my_custom.cnf:/opt/bitnami/mysql/conf/my_custom.cnf'
    networks:
      - network.platform.mysql
    healthcheck:
      test: ["CMD", "mysqladmin", "ping", "-p${DB_PASSWORD}"]
      retries: 3
      timeout: 5s

  platform.redis:
    container_name: platform.redis
    image: 'bitnami/redis'
    ports:
      - '${FORWARD_REDIS_PORT:-}:6379'
    environment:
      REDIS_HOST: '${REDIS_HOST}'
      REDIS_PASSWORD: '${REDIS_PASSWORD}'
      REDIS_PORT: '${REDIS_PORT}'
    volumes:
      - 'volume.platform.redis:/data'
    networks:
      - network.platform.redis
    healthcheck:
      test: ["CMD", "redis-cli", "ping"]
      retries: 3
      timeout: 5s

  platform.meilisearch:
    container_name: platform.meilisearch
    image: 'getmeili/meilisearch:latest'
    ports:
      - '${FORWARD_MEILISEARCH_PORT:-7700}:7700'
    volumes:
      - 'volume.platform.meilisearch:/data.ms'
    networks:
      - network.platform.mail
    healthcheck:
      test: ["CMD", "wget", "--no-verbose", "--spider",  "http://localhost:7700/health"]
      retries: 3
      timeout: 5s

  platform.mailhog:
    container_name: platform.mailhog
    image: 'mailhog/mailhog:latest'
    ports:
      - '${FORWARD_MAILHOG_PORT:-1025}:1025'
      - '${FORWARD_MAILHOG_DASHBOARD_PORT:-8025}:8025'
    networks:
      - network.platform.mail

  platform.selenium:
    container_name: platform.selenium
    image: 'selenium/standalone-chrome'
    volumes:
      - '/dev/shm:/dev/shm'
    networks:
      - network.platform.mail

networks:
  network.platform.mail:
  network.platform.mysql:
  network.platform.proxy:
  network.platform.redis:

volumes:
  volume.platform.test:
  volume.platform.mysql:
  volume.platform.redis:
  volume.platform.meilisearch:
