includes:
    - ./vendor/nunomaduro/larastan/extension.neon

parameters:

    paths:
        - app
        - resources/lang
        - routes

    # exclude console.php because of false positive with $this in the closure.
    # see: https://github.com/nunomaduro/larastan/issues/140
    excludePaths:
        - routes/console.php

    # The level 9 is the highest level
    level: 5

    ignoreErrors:
        - '#Call to an undefined method Illuminate\\Database\\Eloquent\\Builder::withExtraAttributes\(\)#'
        - '#Call to private method whereDate\(\) of parent class Illuminate\\Database\\Eloquent\\Relations\\HasMany<Illuminate\\Database\\Eloquent\\Model>#'
    checkMissingIterableValueType: false

    scanFiles:
      - vendor/chinleung/laravel-locales/src/helpers.php

    treatPhpDocTypesAsCertain: false

    universalObjectCratesClasses:
      - Spatie\SchemalessAttributes\Casts\SchemalessAttributes::class
