parameters:
    paths:
        - app
        - resources/lang
        - routes
    
    excludePaths: []

    level: 5 # The level 9 is the highest level

    ignoreErrors:
      - '#Call to an undefined method Illuminate\\Database\\Eloquent\\Relations\\MorphMany::status\(\)#'
      - '#Call to an undefined method Illuminate\\Database\\Eloquent\\Relations\\MorphMany::statuses\(\)#'
      - '#Call to an undefined method Illuminate\\Database\\Eloquent\\Builder::withExtraAttributes\(\)#'

    scanFiles:
      - vendor/chinleung/laravel-locales/src/helpers.php

    universalObjectCratesClasses:
      - Spatie\SchemalessAttributes\Casts\SchemalessAttributes::class
