form.search {
    display: grid;
    gap: var(--space-5);
}

form.search > * + * {
    margin-block-start: 0;
}

.cards--collections {
    display: grid;
    gap: var(--space-5);
}

.card--collection {
    border: var(--border-3) solid;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: var(--space-5);
}

.card--collection .actions {
    margin-block-start: auto;
}

.card--collection .actions a {
    margin-block-start: var(--space-5);
}

@media (min-width: 64rem) {
    form.search {
        grid-template-columns: 1fr auto;
    }

    .cards--collections {
        grid-template-columns: repeat(4, 1fr);
    }
}
