.resources {
    display: grid;
    gap: var(--step-0);
}

.resources .cards {
    display: grid;
    gap: var(--step-0);
}

.card--resource {
    border: var(--ll-border-medium);
    border-radius: var(--ll-border-radius);
    padding: var(--step-0);
}

@media (min-width: 1024px) {
    .resources {
        grid-template-columns: repeat(2, 1fr);
    }
}
