.resources {
    display: grid;
    gap: var(--space-5);
}

.resources .cards {
    display: grid;
    gap: var(--space-5);
}

.card--resource {
    border: var(--border-3) solid;
    padding: var(--space-5);
}

@media (min-width: 1024px) {
    .resources {
        grid-template-columns: repeat(2, 1fr);
    }
}
