// -----------------------------------------------------------------------------
// This file contains everything related to the dark theme.
// -----------------------------------------------------------------------------
@mixin dark {
    --theme-h1-color: var(--ae-white);
    --theme-heading-color: var(--ae-grey-1);
    --theme-body-background: var(--ae-graphite-8);
    --theme-body-color: var(--ae-grey-2);
    --theme-link-color: var(--ae-turquoise-1);
    --theme-badge-background: var(--ae-graphite-7);
    --theme-badge-color: var(--ae-white);
    --theme-divider-color: var(--ae-grey-2);
    --theme-alert-background: var(--ae-graphite-7);
    --theme-alert-color: var(--ae-grey-1);
    --theme-alert-background-error: var(--ae-red-2);
    --theme-alert-color-error: var(--ae-graphite-8);
    --theme-alert-background-warning: var(--ae-yellow-2);
    --theme-alert-color-warning: var(--ae-graphite-8);
    --theme-alert-background-success: var(--ae-green-2);
    --theme-alert-color-success: var(--ae-graphite-8);
    --theme-input-border: var(--ae-grey-2);
    --theme-input-color: var(--ae-grey-2);
    --theme-input-error-border: var(--ae-red-2);
    --theme-input-error-color: var(--ae-red-2);
    --theme-checkbox-checked-background: var(--ae-grey-2);
    --theme-radio-checked-background: var(--ae-grey-2);
    --theme-radio-checked-border: var(--ae-grey-2);
    --theme-hint-color: var(--ae-grey-2);
    --theme-button-primary-background: var(--ae-grey-2);
    --theme-button-primary-border: var(--ae-grey-2);
    --theme-button-primary-color: var(--ae-blue-7);
    --theme-button-secondary-background: var(--ae-graphite-8);
    --theme-button-secondary-border: var(--ae-grey-1);
    --theme-button-secondary-color: var(--ae-grey-1);
    --theme-tag-background: var(--ae-graphite-8);
    --theme-tag-border: var(--ae-grey-2);
    --theme-tag-color: var(--ae-grey-2);
    --theme-tag-link-background: var(--ae-graphite-8);
    --theme-tag-link-border: var(--ae-turquoise-2);
    --theme-tag-link-color: var(--ae-turquoise-2);
    --theme-tag-button-background: var(--ae-turquoise-2);
    --theme-tag-button-border: var(--ae-turquoise-2);
    --theme-tag-button-color: var(--ae-graphite-8);
    --theme-contact-bar-background: var(--ae-graphite-6);
    --theme-contact-bar-border: transparent;
    --theme-banner-background: var(--ae-graphite-7);
    --theme-banner-border: var(--ae-graphite-6);
    --theme-banner-shadow: 0 0 10px rgb(0 0 0 / 50%);
    --theme-brand-color: var(--ae-white);
    --theme-nav-parent-background-mobile: var(--ae-graphite-8);
    --theme-nav-parent-background-hover-mobile: var(--ae-graphite-7);
    --theme-nav-parent-background-focus-mobile: var(--ae-graphite-7);
    --theme-nav-parent-background-active-mobile: var(--ae-graphite-6);
    --theme-nav-border-mobile: var(--ae-graphite-5);
    --theme-nav-color-mobile: var(--ae-grey-2);
    --theme-nav-indicator-mobile: var(--ae-grey-2);
    --theme-nav-child-background-mobile: var(--ae-black);
    --theme-nav-child-background-hover-mobile: var(--ae-graphite-7);
    --theme-nav-child-background-focus-mobile: var(--ae-graphite-7);
    --theme-nav-child-background-active-mobile: var(--ae-graphite-7);
    --theme-nav-parent-background: var(--ae-graphite-7);
    --theme-nav-parent-background-hover: var(--ae-graphite-8);
    --theme-nav-parent-background-focus: var(--ae-graphite-8);
    --theme-nav-parent-background-active: var(--ae-black);
    --theme-nav-parent-background-expanded: var(--ae-graphite-8);
    --theme-nav-border: var(--ae-graphite-6);
    --theme-nav-color: var(--ae-grey-2);
    --theme-nav-indicator: var(--ae-grey-2);
    --theme-nav-dropdown-shadow: 0 0 10px rgb(0 0 0 / 50%);
    --theme-nav-child-background: var(--ae-graphite-8);
    --theme-nav-child-background-hover: var(--ae-graphite-7);
    --theme-nav-child-background-focus: var(--ae-graphite-7);
    --theme-nav-child-background-active: var(--ae-graphite-6);
    --theme-nav-current-color: var(--ae-lavender-2);
    --select-chevron: url('data:image/svg+xml;utf-8,<svg width="14" height="13" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="m1 6 6 6 6-6" stroke="%23EAEDF3" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/></svg>');
    --select-error-chevron: url('data:image/svg+xml;utf-8,<svg width="14" height="13" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="m1 6 6 6 6-6" stroke="%23f6a7a7" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/></svg>');
    --checkbox-checkmark: url('data:image/svg+xml;utf-8,<svg width="14" height="12" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M1 5.402 5.364 10 13 1" stroke="%232b2e38" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/></svg>');
    --search-icon: url('data:image/svg+xml;utf-8,<svg width="18" height="18" fill="none" xmlns="http://www.w3.org/2000/svg"><circle cx="10.501" cy="7.5" r="5.5" stroke="%23EAEDF3" stroke-width="2"/><path stroke="%23EAEDF3" stroke-width="2" stroke-linecap="round" d="M6.612 11.803 1.415 17"/></svg>');
    --search-clear-icon: url('data:image/svg+xml;utf-8,<svg width="13" height="12" fill="none" xmlns="http://www.w3.org/2000/svg"><path transform="matrix(.72331 -.69052 .72331 .69052 2 12)" stroke="%23EAEDF3" stroke-width="2" stroke-linecap="round" d="M1-1h13.206"/><path transform="matrix(-.72331 -.69052 .72331 -.69052 13 10.5)" stroke="%23EAEDF3" stroke-width="2" stroke-linecap="round" d="M1-1h13.206"/></svg>');
    --breadcrumb-chevron: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="%23c6f4fe"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5l7 7-7 7"></path></svg>');
    --link-list-chevron: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="%23c6f4fe"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5l7 7-7 7"></path></svg>');
}

[data-theme="dark"] {
    @include dark;
}

@media (--OSdark) {
    [data-theme="system"] {
        @include dark;
    }
}
