// -----------------------------------------------------------------------------
// This file contains everything related to the dark theme.
// -----------------------------------------------------------------------------

@media (prefers-color-scheme: dark) {
    :root {
        --ll-border-color: #fff;
        --ll-text-color: #fff;
        --ll-accent-color: hsl(calc(225 + 180), 73%, 57%);
        --ll-background-color: #000;
    }
}
