/* This file contains everything related to the dark theme. */
[data-theme="dark"] {
    --theme-h1-color: white;
    --theme-heading-color: var(--tae-grey-1);
    --theme-body-background: var(--tae-graphite-8);
    --theme-body-color: var(--tae-grey-2);
    --theme-link-color: var(--tae-turquoise-1);
    --theme-link-color-hover: var(--tae-turquoise-2);
    --theme-link-color-visited: var(--tae-turquoise-2);
    --theme-link-outline-focus: var(--tae-turquoise-1);
    --theme-link-color-active: var(--tae-turquoise-1);
    --theme-link-background-active: var(--tae-graphite-6);
    --theme-cta-background: var(--tae-grey-2);
    --theme-cta-border: var(--tae-grey-2);
    --theme-cta-color: var(--tae-blue-7);
    --theme-cta-outline: var(--tae-grey-2);
    --theme-cta-background-hover: var(--tae-grey-1);
    --theme-cta-border-hover: var(--tae-grey-1);
    --theme-cta-color-hover: var(--tae-blue-8);
    --theme-cta-color-active: var(--tae-blue-7);
    --theme-cta-background-active: white;
    --theme-cta-border-active: white;
    --theme-badge-background: var(--tae-graphite-7);
    --theme-badge-color: white;
    --theme-divider-color: var(--tae-grey-2);
    --theme-alert-background: var(--tae-graphite-7);
    --theme-alert-color: var(--tae-grey-1);
    --theme-alert-background-error: var(--tae-red-2);
    --theme-alert-color-error: var(--tae-graphite-8);
    --theme-alert-background-warning: var(--tae-yellow-2);
    --theme-alert-color-warning: var(--tae-graphite-8);
    --theme-alert-background-success: var(--tae-green-2);
    --theme-alert-color-success: var(--tae-graphite-8);
    --theme-input-border: var(--tae-grey-2);
    --theme-input-color: var(--tae-grey-2);
    --theme-input-error-border: var(--tae-red-2);
    --theme-input-error-color: var(--tae-red-2);
    --theme-checkbox-checked-background: var(--tae-grey-2);
    --theme-radio-checked-background: var(--tae-grey-2);
    --theme-radio-checked-border: var(--tae-grey-2);
    --theme-hint-color: var(--tae-grey-2);
    --theme-button-primary-background: var(--tae-grey-2);
    --theme-button-primary-border: var(--tae-grey-2);
    --theme-button-primary-color: var(--tae-blue-7);
    --theme-button-primary-outline: var(--tae-grey-2);
    --theme-button-primary-background-hover: var(--tae-grey-1);
    --theme-button-primary-border-hover: var(--tae-grey-1);
    --theme-button-primary-color-hover: var(--tae-blue-8);
    --theme-button-primary-color-active: var(--tae-blue-7);
    --theme-button-primary-background-active: white;
    --theme-button-primary-border-active: white;
    --theme-button-secondary-background: var(--tae-graphite-8);
    --theme-button-secondary-border: var(--tae-grey-1);
    --theme-button-secondary-color: var(--tae-grey-1);
    --theme-button-borderless-outline: var(--tae-grey-2);
    --theme-button-borderless-color-hover: var(--tae-grey-2);
    --theme-button-borderless-background-hover: black;
    --theme-button-borderless-color-focus: var(--tae-grey-2);
    --theme-button-borderless-color-active: var(--tae-grey-1);
    --theme-tag-background: var(--tae-graphite-8);
    --theme-tag-border: var(--tae-grey-2);
    --theme-tag-color: var(--tae-grey-2);
    --theme-tag-link-background: var(--tae-graphite-8);
    --theme-tag-link-border: var(--tae-turquoise-2);
    --theme-tag-link-color: var(--tae-turquoise-2);
    --theme-tag-button-background: var(--tae-turquoise-2);
    --theme-tag-button-border: var(--tae-turquoise-2);
    --theme-tag-button-color: var(--tae-graphite-8);
    --theme-help-bar-background: var(--tae-graphite-6);
    --theme-help-bar-border: transparent;
    --theme-banner-background: var(--tae-graphite-7);
    --theme-banner-border: var(--tae-graphite-6);
    --theme-banner-shadow: 0 0 10px rgb(0 0 0 / 50%);
    --theme-brand-color: white;
    --theme-nav-background-mobile: var(--tae-graphite-8);
    --theme-nav-background-hover-mobile: var(--tae-graphite-7);
    --theme-nav-background-focus-mobile: var(--tae-graphite-7);
    --theme-nav-background-active-mobile: var(--tae-graphite-6);
    --theme-nav-border-mobile: var(--tae-graphite-5);
    --theme-nav-color-mobile: var(--tae-grey-2);
    --theme-nav-parent-background: var(--tae-graphite-7);
    --theme-nav-parent-background-hover: var(--tae-graphite-8);
    --theme-nav-parent-background-focus: var(--tae-graphite-8);
    --theme-nav-parent-background-active: black;
    --theme-nav-parent-background-expanded: var(--tae-graphite-8);
    --theme-nav-border: var(--tae-graphite-6);
    --theme-nav-color: var(--tae-grey-2);
    --theme-nav-indicator: var(--tae-grey-2);
    --theme-nav-dropdown-shadow: 0 0 10px rgb(0 0 0 / 50%);
    --theme-nav-child-background: var(--tae-graphite-8);
    --theme-nav-child-background-hover: var(--tae-graphite-7);
    --theme-nav-child-background-focus: var(--tae-graphite-7);
    --theme-nav-child-background-active: var(--tae-graphite-6);
    --theme-nav-current-color: var(--tae-lavender-2);
    --theme-expander-color: var(--tae-turquoise-1);
    --theme-expander-border: var(--tae-turquoise-1);
    --theme-expander-color-focus: var(--tae-turquoise-1);
    --theme-expander-background-active: var(--tae-graphite-6);
    --theme-expander-color-active: var(--tae-turquoise-1);
    --theme-expander-border-active: var(--tae-turquoise-1);
    --theme-footer-background: var(--tae-graphite-6);
    --theme-footer-color: var(--tae-grey-2);
    --theme-footer-heading-color: var(--tae-grey-2);
    --theme-defined-term-color: var(--tae-turquoise-1);
    --theme-definition-background: var(--tae-white);
    --theme-definition-color: var(--tae-black);
    --theme-definition-shadow: 0 0 0.625rem rgb(0 0 0 / 50%);
    --theme-box-color: var(--tae-white);
    --theme-box-background: var(--tae-graphite-7);
    --theme-card-shadow: 0 0 0.625rem rgb(0 0 0 / 40%);
    --theme-card-shadow-hover: 0 0 0.625rem var(--tae-black);
    --theme-card-federally-regulated-organization-shadow: 0 0.375rem 0 0 var(--tae-turquoise-2) inset;
    --theme-card-federally-regulated-organization-shadow-focus-within: 0 0 0.625rem rgb(125 226 244 / 50%),
        0 0 0 0.1875rem var(--tae-turquoise-2) inset, 0 0.375rem 0 0 var(--tae-turquoise-2) inset;
    --theme-card-community-organization-shadow: 0 0.375rem 0 0 var(--tae-magenta-2) inset;
    --theme-card-community-organization-shadow-focus-within: 0 0 0.625rem rgb(255 160 206 / 50%),
        0 0 0 0.1875rem var(--tae-magenta-2) inset, 0 0.375rem 0 0 var(--tae-magenta-2) inset;
    --theme-card-community-member-shadow: 0 0.375rem 0 0 var(--tae-lavender-2) inset;
    --theme-card-community-member-shadow-focus-within: 0 0 0.625rem rgb(202 182 217 / 50%),
        0 0 0 0.1875rem var(--tae-lavender-2) inset, 0 0.375rem 0 0 var(--tae-lavender-2) inset;
    --select-chevron: url('data:image/svg+xml;utf-8,<svg width="14" height="13" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="m1 6 6 6 6-6" stroke="%23EAEDF3" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/></svg>');
    --select-error-chevron: url('data:image/svg+xml;utf-8,<svg width="14" height="13" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="m1 6 6 6 6-6" stroke="%23f6a7a7" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/></svg>');
    --checkbox-checkmark: url('data:image/svg+xml;utf-8,<svg width="14" height="12" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M1 5.402 5.364 10 13 1" stroke="%232b2e38" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/></svg>');
    --search-icon: url('data:image/svg+xml;utf-8,<svg width="18" height="18" fill="none" xmlns="http://www.w3.org/2000/svg"><circle cx="10.501" cy="7.5" r="5.5" stroke="%23EAEDF3" stroke-width="2"/><path stroke="%23EAEDF3" stroke-width="2" stroke-linecap="round" d="M6.612 11.803 1.415 17"/></svg>');
    --search-clear-icon: url('data:image/svg+xml;utf-8,<svg width="13" height="12" fill="none" xmlns="http://www.w3.org/2000/svg"><path transform="matrix(.72331 -.69052 .72331 .69052 2 12)" stroke="%23EAEDF3" stroke-width="2" stroke-linecap="round" d="M1-1h13.206"/><path transform="matrix(-.72331 -.69052 .72331 -.69052 13 10.5)" stroke="%23EAEDF3" stroke-width="2" stroke-linecap="round" d="M1-1h13.206"/></svg>');
    --breadcrumb-chevron: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="%23c6f4fe"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5l7 7-7 7"></path></svg>');
    --link-list-chevron: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="%23c6f4fe"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5l7 7-7 7"></path></svg>');
}

@media (prefers-color-scheme: dark) {
    [data-theme="system"] {
        --theme-h1-color: white;
        --theme-heading-color: var(--tae-grey-1);
        --theme-body-background: var(--tae-graphite-8);
        --theme-body-color: var(--tae-grey-2);
        --theme-link-color: var(--tae-turquoise-1);
        --theme-cta-background: var(--tae-grey-2);
        --theme-cta-border: var(--tae-grey-2);
        --theme-cta-color: var(--tae-blue-7);
        --theme-cta-outline: var(--tae-grey-2);
        --theme-cta-background-hover: var(--tae-grey-1);
        --theme-cta-border-hover: var(--tae-grey-1);
        --theme-cta-color-hover: var(--tae-blue-8);
        --theme-cta-color-active: var(--tae-blue-7);
        --theme-cta-background-active: white;
        --theme-cta-border-active: white;
        --theme-badge-background: var(--tae-graphite-7);
        --theme-badge-color: white;
        --theme-divider-color: var(--tae-grey-2);
        --theme-alert-background: var(--tae-graphite-7);
        --theme-alert-color: var(--tae-grey-1);
        --theme-alert-background-error: var(--tae-red-2);
        --theme-alert-color-error: var(--tae-graphite-8);
        --theme-alert-background-warning: var(--tae-yellow-2);
        --theme-alert-color-warning: var(--tae-graphite-8);
        --theme-alert-background-success: var(--tae-green-2);
        --theme-alert-color-success: var(--tae-graphite-8);
        --theme-input-border: var(--tae-grey-2);
        --theme-input-color: var(--tae-grey-2);
        --theme-input-error-border: var(--tae-red-2);
        --theme-input-error-color: var(--tae-red-2);
        --theme-checkbox-checked-background: var(--tae-grey-2);
        --theme-radio-checked-background: var(--tae-grey-2);
        --theme-radio-checked-border: var(--tae-grey-2);
        --theme-hint-color: var(--tae-grey-2);
        --theme-button-primary-background: var(--tae-grey-2);
        --theme-button-primary-border: var(--tae-grey-2);
        --theme-button-primary-color: var(--tae-blue-7);
        --theme-button-primary-outline: var(--tae-grey-2);
        --theme-button-primary-background-hover: var(--tae-grey-1);
        --theme-button-primary-border-hover: var(--tae-grey-1);
        --theme-button-primary-color-hover: var(--tae-blue-8);
        --theme-button-primary-color-active: var(--tae-blue-7);
        --theme-button-primary-background-active: white;
        --theme-button-primary-border-active: white;
        --theme-button-secondary-background: var(--tae-graphite-8);
        --theme-button-secondary-border: var(--tae-grey-1);
        --theme-button-secondary-color: var(--tae-grey-1);
        --theme-button-borderless-outline: var(--tae-grey-2);
        --theme-button-borderless-color-hover: var(--tae-grey-2);
        --theme-button-borderless-background-hover: black;
        --theme-button-borderless-color-focus: var(--tae-grey-2);
        --theme-button-borderless-color-active: var(--tae-grey-1);
        --theme-tag-background: var(--tae-graphite-8);
        --theme-tag-border: var(--tae-grey-2);
        --theme-tag-color: var(--tae-grey-2);
        --theme-tag-link-background: var(--tae-graphite-8);
        --theme-tag-link-border: var(--tae-turquoise-2);
        --theme-tag-link-color: var(--tae-turquoise-2);
        --theme-tag-button-background: var(--tae-turquoise-2);
        --theme-tag-button-border: var(--tae-turquoise-2);
        --theme-tag-button-color: var(--tae-graphite-8);
        --theme-help-bar-background: var(--tae-graphite-6);
        --theme-help-bar-border: transparent;
        --theme-banner-background: var(--tae-graphite-7);
        --theme-banner-border: var(--tae-graphite-6);
        --theme-banner-shadow: 0 0 10px rgb(0 0 0 / 50%);
        --theme-brand-color: white;
        --theme-nav-parent-background-mobile: var(--tae-graphite-8);
        --theme-nav-parent-background-hover-mobile: var(--tae-graphite-7);
        --theme-nav-parent-background-focus-mobile: var(--tae-graphite-7);
        --theme-nav-parent-background-active-mobile: var(--tae-graphite-6);
        --theme-nav-border-mobile: var(--tae-graphite-5);
        --theme-nav-color-mobile: var(--tae-grey-2);
        --theme-nav-indicator-mobile: var(--tae-grey-2);
        --theme-nav-child-background-mobile: black;
        --theme-nav-child-background-hover-mobile: var(--tae-graphite-7);
        --theme-nav-child-background-focus-mobile: var(--tae-graphite-7);
        --theme-nav-child-background-active-mobile: var(--tae-graphite-7);
        --theme-nav-parent-background: var(--tae-graphite-7);
        --theme-nav-parent-background-hover: var(--tae-graphite-8);
        --theme-nav-parent-background-focus: var(--tae-graphite-8);
        --theme-nav-parent-background-active: black;
        --theme-nav-parent-background-expanded: var(--tae-graphite-8);
        --theme-nav-border: var(--tae-graphite-6);
        --theme-nav-color: var(--tae-grey-2);
        --theme-nav-indicator: var(--tae-grey-2);
        --theme-nav-dropdown-shadow: 0 0 10px rgb(0 0 0 / 50%);
        --theme-nav-child-background: var(--tae-graphite-8);
        --theme-nav-child-background-hover: var(--tae-graphite-7);
        --theme-nav-child-background-focus: var(--tae-graphite-7);
        --theme-nav-child-background-active: var(--tae-graphite-6);
        --theme-nav-current-color: var(--tae-lavender-2);
        --theme-expander-color: var(--tae-turquoise-1);
        --theme-expander-border: var(--tae-turquoise-1);
        --theme-expander-color-focus: var(--tae-turquoise-1);
        --theme-expander-background-active: var(--tae-graphite-6);
        --theme-expander-color-active: var(--tae-turquoise-1);
        --theme-expander-border-active: var(--tae-turquoise-1);
        --theme-footer-background: var(--tae-graphite-6);
        --theme-footer-color: var(--tae-grey-2);
        --theme-footer-heading-color: var(--tae-grey-2);
        --theme-defined-term-color: var(--tae-turquoise-1);
        --theme-definition-background: var(--tae-white);
        --theme-definition-color: var(--tae-black);
        --theme-definition-shadow: 0 0 10px rgb(0 0 0 / 50%);
        --theme-box-color: var(--tae-white);
        --theme-box-background: var(--tae-graphite-7);
        --theme-card-shadow: 0 0 0.625rem rgb(0 0 0 / 40%);
        --theme-card-shadow-hover: 0 0 0.625rem var(--tae-black);
        --theme-card-federally-regulated-organization-shadow: 0 0.375rem 0 0 var(--tae-turquoise-2) inset;
        --theme-card-federally-regulated-organization-shadow-focus-within: 0 0 0.625rem rgb(125 226 244 / 50%),
            0 0 0 0.1875rem var(--tae-turquoise-2) inset, 0 0.375rem 0 0 var(--tae-turquoise-2) inset;
        --theme-card-community-organization-shadow: 0 0.375rem 0 0 var(--tae-magenta-2) inset;
        --theme-card-community-organization-shadow-focus-within: 0 0 0.625rem rgb(255 160 206 / 50%),
            0 0 0 0.1875rem var(--tae-magenta-2) inset, 0 0.375rem 0 0 var(--tae-magenta-2) inset;
        --theme-card-community-member-shadow: 0 0.375rem 0 0 var(--tae-lavender-2) inset;
        --theme-card-community-member-shadow-focus-within: 0 0 0.625rem rgb(202 182 217 / 50%),
            0 0 0 0.1875rem var(--tae-lavender-2) inset, 0 0.375rem 0 0 var(--tae-lavender-2) inset;
        --select-chevron: url('data:image/svg+xml;utf-8,<svg width="14" height="13" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="m1 6 6 6 6-6" stroke="%23EAEDF3" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/></svg>');
        --select-error-chevron: url('data:image/svg+xml;utf-8,<svg width="14" height="13" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="m1 6 6 6 6-6" stroke="%23f6a7a7" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/></svg>');
        --checkbox-checkmark: url('data:image/svg+xml;utf-8,<svg width="14" height="12" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M1 5.402 5.364 10 13 1" stroke="%232b2e38" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/></svg>');
        --search-icon: url('data:image/svg+xml;utf-8,<svg width="18" height="18" fill="none" xmlns="http://www.w3.org/2000/svg"><circle cx="10.501" cy="7.5" r="5.5" stroke="%23EAEDF3" stroke-width="2"/><path stroke="%23EAEDF3" stroke-width="2" stroke-linecap="round" d="M6.612 11.803 1.415 17"/></svg>');
        --search-clear-icon: url('data:image/svg+xml;utf-8,<svg width="13" height="12" fill="none" xmlns="http://www.w3.org/2000/svg"><path transform="matrix(.72331 -.69052 .72331 .69052 2 12)" stroke="%23EAEDF3" stroke-width="2" stroke-linecap="round" d="M1-1h13.206"/><path transform="matrix(-.72331 -.69052 .72331 -.69052 13 10.5)" stroke="%23EAEDF3" stroke-width="2" stroke-linecap="round" d="M1-1h13.206"/></svg>');
        --breadcrumb-chevron: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="%23c6f4fe"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5l7 7-7 7"></path></svg>');
        --link-list-chevron: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="%23c6f4fe"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5l7 7-7 7"></path></svg>');
    }
}
