// -----------------------------------------------------------------------------
// This file contains everything related to the grey on white theme.
// -----------------------------------------------------------------------------

[data-theme="grey-white"] {
    --theme-h1-color: #6c6c6c;
    --theme-heading-color: #6c6c6c;
    --theme-body-background: #fff;
    --theme-body-color: #6c6c6c;
    --theme-link-color: #66c;
    --theme-badge-background: #fff;
    --theme-badge-border: #6c6c6c;
    --theme-badge-color: #6c6c6c;
    --theme-divider-color: #6c6c6c;
    --theme-alert-background: #fff;
    --theme-alert-border: #6c6c6c;
    --theme-alert-color: #6c6c6c;
    --theme-alert-background-error: #fff;
    --theme-alert-border-error: #6c6c6c;
    --theme-alert-color-error: #6c6c6c;
    --theme-alert-background-warning: #fff;
    --theme-alert-border-warning: #6c6c6c;
    --theme-alert-color-warning: #6c6c6c;
    --theme-alert-background-success: #fff;
    --theme-alert-border-success: #6c6c6c;
    --theme-alert-color-success: #6c6c6c;
    --theme-input-border: #6c6c6c;
    --theme-input-color: #6c6c6c;
    --theme-input-error-border: #6c6c6c;
    --theme-input-error-color: #6c6c6c;
    --theme-checkbox-checked-background: #6c6c6c;
    --theme-radio-checked-background: #6c6c6c;
    --theme-radio-checked-border: #6c6c6c;
    --theme-hint-color: #6c6c6c;
    --theme-button-primary-background: #6c6c6c;
    --theme-button-primary-border: #6c6c6c;
    --theme-button-primary-color: #fff;
    --theme-button-secondary-background: #fff;
    --theme-button-secondary-border: #6c6c6c;
    --theme-button-secondary-color: #6c6c6c;
    --theme-contact-bar-background: var(--body-background);
    --select-chevron: url('data:image/svg+xml;utf-8,<svg width="14" height="13" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="m1 6 6 6 6-6" stroke="%236c6c6c" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/></svg>');
    --select-error-chevron: url('data:image/svg+xml;utf-8,<svg width="14" height="13" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="m1 6 6 6 6-6" stroke="%236c6c6c" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/></svg>');
    --checkbox-checkmark: url('data:image/svg+xml;utf-8,<svg width="14" height="12" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M1 5.402 5.364 10 13 1" stroke="%23fff" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/></svg>');
    --search-icon: url('data:image/svg+xml;utf-8,<svg width="18" height="18" fill="none" xmlns="http://www.w3.org/2000/svg"><circle cx="10.501" cy="7.5" r="5.5" stroke="%236c6c6c" stroke-width="2"/><path stroke="%236c6c6c" stroke-width="2" stroke-linecap="round" d="M6.612 11.803 1.415 17"/></svg>');
    --search-clear-icon: url('data:image/svg+xml;utf-8,<svg width="13" height="12" fill="none" xmlns="http://www.w3.org/2000/svg"><path transform="matrix(.72331 -.69052 .72331 .69052 2 12)" stroke="%236c6c6c" stroke-width="2" stroke-linecap="round" d="M1-1h13.206"/><path transform="matrix(-.72331 -.69052 .72331 -.69052 13 10.5)" stroke="%236c6c6c" stroke-width="2" stroke-linecap="round" d="M1-1h13.206"/></svg>');
}
