// -----------------------------------------------------------------------------
// This file contains everything related to the system theme.
// -----------------------------------------------------------------------------

@media (prefers-color-scheme: dark) {
    [data-theme="system"] {
        --ll-theme-border-color: #fff;
        --ll-theme-text-color: #fff;
        --ll-theme-text-color-error: #ff5e5e;
        --ll-theme-text-color-translucent: rgba(255, 255, 255, 0.2);
        --ll-theme-text-color-transparent: rgba(255, 255, 255, 0);
        --ll-theme-accent-color: hsl(405, 73%, 57%);
        --ll-theme-background-color: #000;
        --ll-theme-background-color-transparent: rgba(0, 0, 0, 0);
        --ll-theme-accent-background-color: #222;
        --ll-theme-select-icon: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="black" viewBox="0 0 16 16"><path d="M7.247 11.14L2.451 5.658C1.885 5.013 2.345 4 3.204 4h9.592a1 1 0 0 1 .753 1.659l-4.796 5.48a1 1 0 0 1-1.506 0z"/></svg>');
    }
}
