// -----------------------------------------------------------------------------
// This file contains styles that are specific to the community-members.index route.
// -----------------------------------------------------------------------------
.preview {
    background: var(--ll-accent-background-color);
    padding: var(--step-0);
    width: 100%;
}

.preview div + div {
    border-block-start: var(--ll-border-thin);
    padding-block-start: var(--step-0);
}

.preview .tags li {
    border: var(--ll-border-thin);
}

.steps .icon {
    display: inline-block;
    height: 2em;
    margin-block-end: -0.625em;
    margin-inline-end: 0.25em;
    width: 2em;
}

.steps small {
    display: block;
    padding-inline-start: 3.75rem;
}

@media (min-width: 1024px) {
    .preview {
        float: left;
        width: 60%;
    }

    // .steps {
    //     float: left;
    //     margin-block-start: calc(-2 * var(--step-1));
    //     margin-inline-start: var(--step-3);
    //     width: calc(40% - var(--step-3));
    // }
}
