:root {
    /* Text and backgrounds */
    --h1-color: var(--theme-h1-color, var(--color-black));
    --heading-color: var(--theme-heading-color, var(--color-graphite-8));
    --color-error: var(--theme-color-error, var(--color-red-8));
    --color-success: var(--theme-color-success, var(--color-green-7));
    --body-background: var(--theme-body-background, var(--color-grey-1));
    --guest-body-background: var(--theme-guest-body-background, var(--color-grey-2));
    --home-body-background: var(--theme-home-body-background, var(--white));
    --body-color: var(--theme-body-color, var(--color-graphite-7));
    --banner-background: var(--theme-banner-background, var(--color-white));
    --content-dark-background: var(--theme-content-dark-background, var(--color-blue-6));
    --content-dark-color: var(--theme-content-dark-color, var(--color-white));
    --content-darker-background: var(--theme-content-darker-background, var(--color-blue-7));
    --content-darker-color: var(--theme-content-darker-color, var(--color-white));
    --content-accent-background: var(--theme-content-accent-background, var(--color-grey-2));
    --content-accent-border: var(--theme-content-accent-border, transparent);
    --content-accent-color-background: var(--theme-content-accent-color-background, var(--color-turquoise-2));
    --content-accent-color-color: var(--theme-content-accent-color-color, var(--color-graphite-7));
    --content-accent-color-border: var(--theme-content-accent-color-border, transparent);
    --participants-background: var(--theme-participants-background, var(--color-lavender-3));
    --participants-color: var(--theme-participants-color, var(--color-black));
    --participants-border: var(--theme-participants-border, transparent);
    --consultants-background: var(--theme-consultants-background, var(--color-magenta-2));
    --consultants-color: var(--theme-consultants-color, var(--color-black));
    --consultants-border: var(--theme-consultants-border, transparent);
    --connectors-background: var(--theme-connectors-background, var(--color-yellow-3));
    --connectors-color: var(--theme-connectors-color, var(--color-black));
    --connectors-border: var(--theme-connectors-border, transparent);
    --regulated-organizations-background: var(--theme-regulated-organizations-background, var(--color-turquoise-2));
    --regulated-organizations-color: var(--theme-regulated-organizations-color, var(--color-black));
    --regulated-organizations-border: var(--theme-regulated-organizations-border, transparent);

    /* Link */
    --link-color: var(--theme-link-color, var(--color-blue-6));
    --link-color-hover: var(--theme-link-color-hover, var(--color-blue-8));
    --link-color-visited: var(--theme-link-color-visited, var(--color-blue-7));
    --link-outline-focus: var(--theme-link-outline-focus, var(--color-blue-6));
    --link-color-active: var(--theme-link-color-active, var(--color-blue-7));
    --link-background-active: var(--theme-link-background-active, var(--color-grey-2));

    /* Link on dark backgrounds */
    --link-dark-color: var(--theme-link-dark-color, var(--color-white));
    --link-dark-color-hover: var(--theme-link-dark-color-hover, var(--color-turquoise-1));
    --link-dark-color-visited: var(--theme-link-dark-color-visited, var(--color-turquoise-1));
    --link-dark-outline-focus: var(--theme-link-dark-outline-focus, var(--color-turquoise-1));
    --link-dark-color-active: var(--theme-link-dark-color-active, var(--color-turquoise-1));
    --link-dark-background-active: var(--theme-link-dark-background-active, var(--color-graphite-6));

    /* Call to action */
    --cta-background: var(--theme-cta-background, var(--color-blue-7));
    --cta-border: var(--theme-cta-border, var(--color-blue-7));
    --cta-color: var(--theme-cta-color, var(--color-white));
    --cta-background-hover: var(--theme-cta-background-hover, var(--color-white));
    --cta-border-hover: var(--theme-cta-border-hover, var(--color-blue-8));
    --cta-color-hover: var(--theme-cta-color-hover, var(--color-blue-7));
    --cta-background-active: var(--theme-cta-background-active, var(--color-white));
    --cta-border-active: var(--theme-cta-border-active, var(--color-blue-6));
    --cta-color-active: var(--theme-cta-color-active, var(--color-blue-6));
    --cta-outline: var(--theme-cta-outline, var(--color-blue-7));
    --cta-shadow: var(--theme-cta-shadow, 0 0 10px rgb(0 0 0 / 15%));

    /* Secondary call to action */
    --cta-secondary-background: var(--theme-cta-secondary-background, var(--color-white));
    --cta-secondary-border: var(--theme-cta-secondary-border, var(--color-blue-6));
    --cta-secondary-color: var(--theme-cta-secondary-color, var(--color-blue-6));
    --cta-secondary-background-hover: var(--theme-cta-secondary-background-hover, var(--color-blue-7));
    --cta-secondary-border-hover: var(--theme-cta-secondary-border-hover, var(--color-blue-7));
    --cta-secondary-color-hover: var(--theme-cta-secondary-color-hover, var(--color-white));
    --cta-secondary-background-active: var(--theme-cta-secondary-background-active, var(--color-blue-6));
    --cta-secondary-border-active: var(--theme-cta-secondary-border-active, var(--color-blue-6));
    --cta-secondary-color-active: var(--theme-cta-secondary-color-active, var(--color-white));
    --cta-secondary-outline: var(--theme-cta-secondary-outline, var(--color-blue-6));

    /* Call to action on dark backgrounds */
    --cta-dark-background: var(--theme-cta-dark-background, var(--color-grey-2));
    --cta-dark-border: var(--theme-cta-dark-border, var(--color-grey-2));
    --cta-dark-color: var(--theme-cta-dark-color, var(--color-blue-7));
    --cta-dark-outline: var(--theme-cta-dark-outline, var(--color-grey-2));
    --cta-dark-background-hover: var(--theme-cta-dark-background-hover, var(--color-grey-1));
    --cta-dark-border-hover: var(--theme-cta-dark-border-hover, var(--color-grey-1));
    --cta-dark-color-hover: var(--theme-cta-dark-color-hover, var(--color-blue-8));
    --cta-dark-color-active: var(--theme-cta-dark-color-active, var(--color-blue-7));
    --cta-dark-background-active: var(--theme-cta-dark-background-active, var(--color-white));
    --cta-dark-border-active: var(--theme-cta-dark-border-active, var(--color-white));

    /* Mark */
    --mark-background: var(--theme-body-color, var(--color-blue-7));
    --mark-color: var(--theme-body-background, var(--color-white));

    /* Badge */
    --badge-background: var(--theme-badge-background, var(--color-grey-2));
    --badge-color: var(--theme-badge-color, var(--color-black));
    --badge-color-alt: var(--theme-badge-color-alt, var(--badge-color));
    --badge-border: var(--theme-badge-border, var(--badge-background));

    /* Banner */
    --banner-error-background: var(--theme-banner-error-background, var(--color-red-7));
    --banner-error-color: var(--theme-banner-error-color, var(--color-white));
    --banner-warning-background: var(--theme-banner-warning-background, var(--color-yellow-3));
    --banner-warning-color: var(--theme-banner-warning-color, var(--color-black));

    /* Divider */
    --divider-color: var(--theme-divider-color, var(--color-graphite-6));
    --border-color-lavender: var(--theme-border-color-lavender, var(--color-lavender-3));
    --border-color-turquoise: var(--theme-border-color-turquoise, var(--color-turquoise-5));
    --border-color-yellow: var(--theme-border-color-yellow, var(--color-yellow-3));
    --border-color-magenta: var(--theme-border-color-magenta, var(--color-magenta-2));

    /* Alert */
    --alert-background: var(--theme-alert-background, var(--color-grey-2));
    --alert-border: var(--theme-alert-border, var(--alert-background));
    --alert-color: var(--theme-alert-color, var(--color-graphite-8));
    --alert-background-error: var(--theme-alert-background-error, var(--color-red-1));
    --alert-border-error: var(--theme-alert-border-error, var(--alert-background-error));
    --alert-color-error: var(--theme-alert-color-error, var(--color-graphite-8));
    --alert-background-warning: var(--theme-alert-background-warning, var(--color-yellow-1));
    --alert-border-warning: var(--theme-alert-border-warning, var(--alert-background-warning));
    --alert-color-warning: var(--theme-alert-color-warning, var(--color-graphite-8));
    --alert-background-success: var(--theme-alert-background-success, var(--color-green-1));
    --alert-border-success: var(--theme-alert-border-success, var(--alert-background-success));
    --alert-color-success: var(--theme-alert-color-success, var(--color-graphite-8));

    /* Hint */
    --hint-color: var(--theme-hint-color, var(--color-graphite-7));

    /* Input */
    --input-border: var(--theme-input-border, var(--color-graphite-7));
    --input-color: var(--theme-input-color, var(--color-graphite-7));
    --input-border-hover: var(--theme-input-border-hover, var(--color-blue-6));
    --input-border-focus: var(--theme-input-border-focus, var(--color-blue-6));
    --input-border-active: var(--theme-input-border-active, var(--color-blue-6));
    --input-error-border: var(--theme-input-error-border, var(--color-red-8));
    --input-error-background: var(--theme-input-error-background, var(--color-red-8));
    --input-error-color: var(--theme-input-error-color, var(--color-red-8));

    /* Checkbox */
    --checkbox-checked-background: var(--theme-checkbox-checked-background, var(--color-blue-7));
    --checkbox-background-active: var(--theme-checkbox-background-active, var(--color-grey-2));
    --checkbox-checked-border: var(--theme-checkbox-checked-border, var(--color-graphite-7));

    /* Radio button */
    --radio-checked-background: var(--theme-radio-checked-background, var(--color-blue-7));
    --radio-checked-border: var(--theme-radio-checked-border, var(--color-graphite-7));

    /* Disabled button */
    --btn-disabled-background: var(--theme-btn-disabled-background, var(--color-grey-1));
    --btn-disabled-border: var(--theme-btn-disabled-border, var(--color-graphite-7));
    --btn-disabled-color: var(--theme-btn-disabled-color, var(--color-graphite-7));

    /* Primary button */
    --btn-primary-background: var(--theme-btn-primary-background, var(--color-blue-7));
    --btn-primary-border: var(--theme-btn-primary-border, var(--color-blue-7));
    --btn-primary-color: var(--theme-btn-primary-color, var(--color-white));
    --btn-primary-background-hover: var(--theme-btn-primary-background-hover, var(--color-white));
    --btn-primary-border-hover: var(--theme-btn-primary-border-hover, var(--color-blue-8));
    --btn-primary-color-hover: var(--theme-btn-primary-color-hover, var(--color-blue-7));
    --btn-primary-background-active: var(--theme-btn-primary-background-active, var(--color-white));
    --btn-primary-border-active: var(--theme-btn-primary-border-active, var(--color-blue-6));
    --btn-primary-color-active: var(--theme-btn-primary-color-active, var(--color-blue-6));
    --btn-primary-outline: var(--theme-btn-primary-outline, var(--color-blue-7));
    --btn-primary-shadow: var(--theme-btn-primary-shadow, 0 0 10px rgb(0 0 0 / 15%));

    /* Primary button on dark backgrounds */
    --btn-dark-primary-background: var(--theme-btn-dark-primary-background, var(--color-grey-2));
    --btn-dark-primary-border: var(--theme-btn-dark-primary-border, var(--color-grey-2));
    --btn-dark-primary-color: var(--theme-btn-dark-primary-color, var(--color-blue-7));
    --btn-dark-primary-outline: var(--theme-btn-dark-primary-outline, var(--color-grey-2));
    --btn-dark-primary-background-hover: var(--theme-btn-dark-primary-background-hover, var(--color-grey-1));
    --btn-dark-primary-border-hover: var(--theme-btn-dark-primary-border-hover, var(--color-grey-1));
    --btn-dark-primary-color-hover: var(--theme-btn-dark-primary-color-hover, var(--color-blue-8));
    --btn-dark-primary-color-active: var(--theme-btn-dark-primary-color-active, var(--color-blue-7));
    --btn-dark-primary-background-active: var(--theme-btn-dark-primary-background-active, white);
    --btn-dark-primary-border-active: var(--theme-btn-dark-primary-border-active, white);

    /* Secondary button */
    --btn-secondary-background: var(--theme-btn-secondary-background, var(--color-white));
    --btn-secondary-border: var(--theme-btn-secondary-border, var(--color-blue-6));
    --btn-secondary-color: var(--theme-btn-secondary-color, var(--color-blue-6));
    --btn-secondary-background-hover: var(--theme-btn-secondary-background-hover, var(--color-blue-7));
    --btn-secondary-border-hover: var(--theme-btn-secondary-border-hover, var(--color-blue-7));
    --btn-secondary-color-hover: var(--theme-btn-secondary-color-hover, var(--color-white));
    --btn-secondary-background-active: var(--theme-btn-secondary-background-active, var(--color-blue-6));
    --btn-secondary-border-active: var(--theme-btn-secondary-border-active, var(--color-blue-6));
    --btn-secondary-color-active: var(--theme-btn-secondary-color-active, var(--color-white));
    --btn-secondary-outline: var(--theme-btn-secondary-outline, var(--color-blue-6));

    /* Borderless button */
    --btn-borderless-color: var(--theme-btn-borderless-color, var(--color-blue-6));
    --btn-borderless-background-hover: var(--theme-btn-borderless-background-hover, var(--color-blue-7));
    --btn-borderless-color-hover: var(--theme-btn-borderless-color-hover, var(--color-white));
    --btn-borderless-color-focus: var(--theme-btn-borderless-color-focus, var(--color-blue-6));
    --btn-borderless-background-active: var(--theme-btn-borderless-background-active, var(--color-blue-6));
    --btn-borderless-color-active: var(--theme-btn-borderless-color-active, var(--color-white));
    --btn-borderless-outline: var(--theme-btn-borderless-outline, var(--color-blue-7));

    /* Destructive button */
    --btn-destructive-background: var(--theme-btn-destructive-background, var(--color-red-8));
    --btn-destructive-border: var(--theme-btn-destructive-border, var(--color-red-8));
    --btn-destructive-color: var(--theme-btn-destructive-color, var(--color-white));
    --btn-destructive-background-hover: var(--theme-btn-destructive-background-hover, var(--color-white));
    --btn-destructive-border-hover: var(--theme-btn-destructive-border-hover, var(--color-red-8));
    --btn-destructive-color-hover: var(--theme-btn-destructive-color-hover, var(--color-red-8));
    --btn-destructive-color-active: var(--theme-btn-destructive-color-active, var(--color-red-7));
    --btn-destructive-background-active: var(--theme-btn-destructive-background-active, var(--color-white));
    --btn-destructive-border-active: var(--theme-btn-destructive-border-active, var(--color-red-7));
    --btn-destructive-outline: var(--theme-btn-destructive-outline, var(--color-red-8));
    --btn-destructive-shadow: var(--theme-btn-destructive-shadow, 0 0 10px rgb(0 0 0 / 15%));

    /* Destructive secondary button */
    --btn-destructive-secondary-border: var(--theme-btn-destructive-secondary-border, var(--color-red-8));
    --btn-destructive-secondary-background: var(--theme-btn-destructive-secondary-background, white);
    --btn-destructive-secondary-color: var(--theme-btn-destructive-secondary-color, var(--color-red-8));
    --btn-destructive-secondary-background-hover: var(
        --theme-btn-destructive-secondary-background-hover,
        var(--color-red-8)
    );
    --btn-destructive-secondary-border-hover: var(--theme-btn-destructive-secondary-border-hover, var(--color-red-8));
    --btn-destructive-secondary-color-hover: var(--theme-btn-destructive-secondary-color-hover, var(--color-white));
    --btn-destructive-secondary-background-active: var(
        --theme-btn-destructive-secondary-background-active,
        var(--color-red-7)
    );
    --btn-destructive-secondary-border-active: var(--theme-btn-destructive-secondary-border-active, var(--color-red-7));
    --btn-destructive-secondary-color-active: var(--theme-btn-destructive-secondary-color-active, var(--color-white));
    --btn-destructive-secondary-outline: var(--theme-btn-destructive-secondary-outline, var(--color-red-8));

    /** Destructive borderless button */
    --btn-destructive-borderless-color: var(
        --theme-btn-destructive-borderless-color,
        var(--btn-destructive-secondary-color)
    );
    --btn-destructive-borderless-outline: var(
        --theme-btn-destructive-borderless-outline,
        var(--btn-destructive-secondary-outline)
    );
    --btn-destructive-borderless-color-hover: var(
        --theme-btn-destructive-borderless-color-hover,
        var(--btn-destructive-secondary-color-hover)
    );
    --btn-destructive-borderless-background-hover: var(
        --theme-btn-destructive-borderless-background-hover,
        var(--btn-destructive-secondary-background-hover)
    );
    --btn-destructive-borderless-color-focus: var(
        --theme-btn-destructive-borderless-color-focus,
        var(--btn-destructive-secondary-color)
    );
    --btn-destructive-borderless-color-active: var(
        --theme-btn-destructive-borderless-color-active,
        var(--btn-destructive-secondary-color-active)
    );
    --btn-destructive-borderless-background-active: var(
        --theme-btn-destructive-borderless-background-active,
        var(--btn-destructive-secondary-background-active)
    );

    /* Tag */
    --tag-background: var(--theme-tag-background, white);
    --tag-border: var(--theme-tag-border, var(--color-graphite-6));
    --tag-color: var(--theme-tag-color, var(--color-graphite-6));

    /* Tag link */
    --tag-link-background: var(--theme-tag-link-background, white);
    --tag-link-border: var(--theme-tag-link-border, var(--color-blue-6));
    --tag-link-color: var(--theme-tag-link-color, var(--color-blue-6));

    /* Tag button */
    --tag-button-background: var(--theme-tag-button-background, var(--color-blue-6));
    --tag-button-border: var(--theme-tag-button-border, var(--color-blue-6));
    --tag-button-color: var(--theme-tag-button-color, white);

    /* Help bar */
    --help-bar-border: var(--theme-help-bar-border, transparent);

    /* Banner */
    --banner-border: var(--theme-banner-border, var(--color-grey-3));
    --banner-shadow: var(--theme-banner-shadow, 0 0 10px 0 rgb(0 0 0 / 15%));
    --guest-banner-border: var(--theme-guest-banner-border, var(--banner-border));

    /* Brand */
    --brand-color: var(--theme-brand-color, var(--white));

    /* Navigation */
    --nav-background-mobile: var(--theme-nav-background-mobile, var(--color-blue-7));
    --nav-background-hover-mobile: var(--theme-nav-background-hover-mobile, var(--color-blue-8));
    --nav-background-focus-mobile: var(--theme-nav-background-focus-mobile, var(--color-blue-8));
    --nav-background-active-mobile: var(--theme-nav-background-active-mobile, black);
    --nav-border-mobile: var(--theme-nav-border-mobile, var(--color-blue-8));
    --nav-color-mobile: var(--theme-nav-color-mobile, var(--color-grey-2));
    --nav-color-hover-mobile: var(--theme-nav-color-hover-mobile, var(--color-grey-2));
    --nav-color-active-mobile: var(--theme-nav-color-active-mobile, var(--color-grey-2));
    --nav-indicator-mobile: var(--theme-nav-indicator-mobile, var(--color-grey-1));
    --nav-parent-background: var(--theme-nav-parent-background, white);
    --nav-parent-background-hover: var(--theme-nav-parent-background-hover, var(--color-grey-1));
    --nav-parent-background-focus: var(--theme-nav-parent-background-focus, var(--color-grey-1));
    --nav-parent-background-active: var(--theme-nav-parent-background-active, var(--color-grey-2));
    --nav-parent-background-expanded: var(--theme-nav-parent-background-expanded, var(--color-grey-2));
    --nav-border: var(--theme-nav-border, var(--color-grey-3));
    --nav-item-border: var(--theme-nav-item-border, var(--color-grey-3));
    --nav-color: var(--theme-nav-color, var(--color-graphite-7));
    --nav-color-hover: var(--theme-nav-color-hover, var(--nav-indicator));
    --nav-color-focus: var(--theme-nav-color-focus, var(--nav-indicator));
    --nav-color-active: var(--theme-nav-color-active, var(--nav-indicator));
    --nav-indicator: var(--theme-nav-indicator, var(--color-blue-7));
    --nav-dropdown-shadow: var(--theme-nav-dropdown-shadow, 0 0 10px rgb(0 0 0 / 15%));
    --nav-child-background: var(--theme-nav-child-background, white);
    --nav-child-background-hover: var(--theme-nav-child-background-hover, var(--color-grey-1));
    --nav-child-background-focus: var(--theme-nav-child-background-focus, var(--color-grey-1));
    --nav-child-background-active: var(--theme-nav-child-background-active, var(--color-grey-2));
    --nav-current-color: var(--theme-nav-current-color, var(--color-lavender-3));

    /* Tabbed navigation */
    --header-tabbed-border-color: var(--theme-header-tabbed-border-color, var(--color-grey-3));
    --header-tabbed-background: var(--theme-header-tabbed-background, var(--color-white));
    --nav-tabbed-background: var(--theme-nav-tabbed-background, var(--color-white));
    --nav-tabbed-shadow: var(
        --theme-nav-tabbed-shadow,
        0 4px 6px -1px rgb(0 0 0 / 10%),
        0 2px 4px -2px rgb(0 0 0 / 10%)
    );
    --nav-tabbed-border: var(--theme-nav-tabbed-border, transparent);

    /* Pagination */
    --pagination-color: var(--theme-pagination-color, var(--color-graphite-7));
    --pagination-background-hover: var(--theme-pagination-background-hover, var(--color-lavender-2));
    --pagination-color-hover: var(--theme-pagination-color-hover, var(--color-black));
    --pagination-border-focus: var(--theme-pagination-border-focus, var(--color-black));
    --pagination-background-active: var(--theme-pagination-background-active, var(--color-grey-2));
    --pagination-color-active: var(--theme-pagination-color-active, var(--color-blue-7));
    --pagination-current-color: var(--theme-pagination-current-color, var(--color-grey-2));
    --pagination-current-background: var(--theme-pagination-current-background, var(--color-blue-7));

    /* Expander */
    --expander-color: var(--theme-expander-color, var(--color-blue-6));
    --expander-color-hover: var(--theme-expander-color-hover, var(--color-blue-7));
    --expander-color-focus: var(--theme-expander-color-focus, var(--color-blue-7));
    --expander-background-active: var(--theme-expander-background-active, var(--color-grey-2));
    --expander-color-active: var(--theme-expander-color-active, var(--color-blue-7));
    --expander-border-active: var(--theme-expander-border-active, var(--color-blue-6));

    /* Text-to-speech */
    --tts-controller-background-color: var(--theme-body-background, var(--color-white));
    --tts-controller-color: var(--theme-body-color, var(--color-graphite-5));
    --tts-controller-background-color-hover: var(--btn-primary-background-hover);
    --tts-controller-border-color-hover: var(--btn-primary-border-hover);
    --tts-controller-color-hover: var(--btn-primary-color-hover);
    --tts-selection-controller-background-color: var(--theme-btn-primary-color, var(--btn-primary-background));
    --tts-selection-controller-color: var(--theme-btn-primary-background, var(--btn-primary-color));
    --tts-selection-controller-background-color-hover: var(--theme-btn-primary-color-hover, var(--color-white));
    --tts-selection-controller-border-color-hover: var(--theme-btn-primary-border-hover, var(--color-blue-7));
    --tts-selection-controller-color-hover: var(--theme-btn-primary-background-hover, var(--color-blue-7));
    --tts-selection-controller-background-color-active: var(--theme-btn-primary-background-active, var(--color-white));
    --tts-selection-controller-border-color-active: var(--theme-btn-primary-border-active, var(--color-blue-6));
    --tts-selection-controller-color-active: var(--theme-btn-primary-color-active, var(--color-blue-6));

    /* Footer */
    --footer-border: var(--theme-footer-border, transparent);

    /* Defined term */
    --defined-term-color: var(--theme-defined-term-color, var(--color-blue-6));
    --definition-background: var(--theme-definition-background, var(--color-grey-2));
    --definition-color: var(--theme-definition-color, var(--color-black));
    --definition-shadow: var(--theme-definition-shadow, 0 0 0.625rem rgb(0 0 0 / 15%));

    /* Box */
    --box-color: var(--theme-box-color, var(--color-black));
    --box-background: var(--theme-box-background, var(--color-white));
    --box-alt-background: var(--theme-box-alt-background, var(--color-grey-2));
    --box-border: var(--theme-box-border, transparent);

    /* Card */
    --card-link-color: var(--theme-card-link-color, var(--color-black));
    --card-background-hover: var(--theme-card-background-hover, var(--color-grey-1));
    --card-shadow: var(--theme-card-shadow, 0 0 0.625rem rgb(0 0 0 / 15%));
    --card-shadow-hover: var(--theme-card-shadow-hover, 0 0 0.625rem rgb(0 0 0 / 40%));
    --card-inset-background: var(--theme-card-inset-background, var(--color-grey-1));
    --card-inset-shadow-hover: var(--theme-card-inset-shadow-hover, 0 0 0 1px var(--color-grey-3));

    /* Regulated organization card */
    --card-regulated-organization-shadow: var(
        --theme-card-regulated-organization-shadow,
        0 0.375rem 0 0 var(--color-turquoise-5) inset
    );
    --card-regulated-organization-shadow-focus-within: var(
        --theme-card-regulated-organization-shadow-focus-within,
        0 0 0 0.1875rem var(--color-turquoise-5) inset,
        0 0.375rem 0 0 var(--color-turquoise-5) inset
    );

    /* Organization card */
    --card-organization-shadow: var(--theme-card-organization-shadow, 0 0.375rem 0 0 var(--color-magenta-3) inset);
    --card-organization-shadow-focus-within: var(
        --theme-card-organization-shadow-focus-within,
        0 0 0 0.1875rem var(--color-magenta-3) inset,
        0 0.375rem 0 0 var(--color-magenta-3) inset
    );
    --card-inset-organization-shadow-hover: var(
        --theme-card-inset-organization-shadow-hover,
        0 0.375rem 0 0 var(--color-magenta-2) inset
    );
    --card-inset-organization-shadow-focus-within: var(
        --theme-card-inset-organization-shadow-focus-within,
        0 0 0.625rem rgb(255 160 206 / 50%)
    );

    /* Individual card */
    --card-individual-shadow: var(--theme-card-individual-shadow, 0 0.375rem 0 0 var(--color-lavender-3) inset);
    --card-individual-shadow-focus-within: var(
        --theme-card-individual-shadow-focus-within,
        0 0 0 0.1875rem var(--color-lavender-3) inset,
        0 0.375rem 0 0 var(--color-lavender-3) inset
    );
    --card-inset-individual-shadow-hover: var(
        --theme-card-inset-individual-shadow-hover,
        0 0.375rem 0 0 var(--color-lavender-2) inset
    );
    --card-inset-individual-shadow-focus-within: var(
        --theme-card-inset-individual-shadow-focus-within,
        0 0 0.625rem rgb(202 182 217 / 50%)
    );

    /* Project card */
    --card-project-shadow: var(--theme-card-project-shadow, 0 0.375rem 0 0 var(--color-blue-6) inset);
    --card-project-shadow-focus-within: var(
        --theme-card-project-shadow-focus-within,
        0 0 0 0.1875rem var(--color-blue-6) inset,
        0 0.375rem 0 0 var(--color-blue-6) inset
    );

    /* Engagement card */
    --card-engagement-shadow: var(--theme-card-engagement-shadow, 0 -0.1875rem 0 0 var(--color-blue-6) inset);
    --card-engagement-shadow-focus-within: var(
        --theme-card-engagement-shadow-focus-within,
        0 0 0 0.1875rem var(--color-blue-6) inset
    );
    --card-inset-engagement-shadow-hover: var(
        --theme-card-inset-engagement-shadow-hover,
        0 -0.1875rem 0 0 var(--color-blue-5) inset
    );
    --card-inset-engagement-shadow-focus-within: var(
        --theme-card-inset-engagement-shadow-focus-within,
        0 0 0.625rem rgb(112 119 203 / 50%)
    );

    /* Resource card */
    --card-resource-shadow: var(--theme-card-resource-shadow, 0 0.375rem 0 0 var(--color-yellow-3) inset);
    --card-resource-shadow-focus-within: var(
        --theme-card-resource-shadow-focus-within,
        0 0 0 0.1875rem var(--color-yellow-3) inset,
        0 0.375rem 0 0 var(--color-yellow-3) inset
    );

    /* Resource collection card */
    --card-resource-collection-background: var(--theme-card-resource-collection-background, var(--color-yellow-2));
    --card-resource-collection-color: var(--theme-card-resources-collection-color, var(--color-black));
    --card-resource-collection-shadow: var(
        --theme-card-resource-collection-shadow,
        0 var(--space-5) 0 0 var(--color-yellow-3) inset
    );
    --card-resource-collection-shadow-hover: var(
        --theme-card-resource-collection-shadow-hover,
        var(--card-resource-collection-shadow)
    );
    --card-resource-collection-shadow-focus-within: var(
        --theme-card-resource-collection-shadow-focus-within,
        0 0 0.625rem var(--color-yellow-3),
        0 0 0 var(--border-3) var(--color-black) inset,
        0 var(--space-5) 0 0 var(--color-yellow-3) inset
    );

    /* Manage page sections */
    --manage-section-shadow: var(--theme-manage-section-shadow, 0 0 0.625rem rgb(0 0 0 / 15%));

    /* Selection */
    --selection-background: var(--theme-body-color, Highlight);
    --selection-color: var(--theme-body-background, HighlightText);
}
