// 1. Configuration and helpers
@import
    'abstracts/variables',
    'abstracts/functions',
    'abstracts/mixins';

// 2. Vendors
@import
    'vendors/looseleaf';

// 3. Base stuff
@import
    'base/base',
    'base/fonts',
    'base/typography',
    'base/helpers';

// 4. Layout-related sections
@import
    'layouts/app',
    'layouts/banner',
    'layouts/guest';

// 5. Components
@import
    'components/alert',
    'components/auth-card',
    'components/brand',
    'components/date-input',
    'components/dropdown',
    'components/modal',
    'components/navigation',
    'components/project-card',
    'components/table',
    'components/validation-error';

// 6. Route-specific styles
@import
    'routes/dashboard',
    'routes/entities/show',
    'routes/profiles/index',
    'routes/users/show',
    'routes/welcome';

// 7. Themes
@import
    'themes/black-brown',
    'themes/black-yellow',
    'themes/dark',
    'themes/grey-dark',
    'themes/grey-white',
    'themes/light-dark',
    'themes/light',
    'themes/system',
    'themes/yellow-black';
