.box {
    background-color: var(--box-background);
    border: var(--border) dashed var(--box-border);
    color: var(--box-color);
    padding-block: var(--space-6);
    padding-inline: var(--space-8);
}
