.center {
    box-sizing: border-box;
    display: block;
    margin-inline: auto;
    max-inline-size: var(--max-w-prose);
    padding-inline: var(--gutter, 0);
    width: 100%;
}

.center.center\:text {
    text-align: center;
}

.center.center\:medium {
    max-inline-size: var(--max-w-form);
}

.center.center\:wide {
    max-inline-size: calc(2 * var(--max-w-prose));
}

.align\:center {
    text-align: center;
}

.center\:vertical {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
