.cover {
    --height: 100vh;

    display: flex;
    flex-direction: column;
    min-block-size: var(--height);
    padding-block: var(--space-6);
    padding-inline: var(--space-4);
}

.cover > * {
    margin-block: 1rem;
}

.cover > :first-child:not(.hero) {
    margin-block-start: 0;
}

.cover > :last-child:not(.hero) {
    margin-block-end: 0;
}

.cover > .hero {
    margin-block: auto;
}
