.grid {
    display: grid;
    grid-gap: var(--space-6);
}

@supports (width: min(var(--space-80), 100%)) {
    .grid {
        --grid-cell-min-width: var(--space-80);

        grid-template-columns: repeat(auto-fit, minmax(min(var(--grid-cell-min-width), 100%), 1fr));
    }
}
