.icon {
    height: 1em;
    width: 1em;
}

.with-icon {
    align-items: center;
    display: inline-flex;
}

a.with-icon {
    text-decoration: none;
}

.with-icon .icon {
    margin-inline-end: var(--space-1);
}
