.icon {
    @apply w-5 h-5;
}

.icon--lg {
    @apply w-6 h-6;
}

.icon--xl {
    @apply h-7 w-7;
}

.icon--2xl {
    @apply h-12 w-12;
}

.with-icon {
    align-items: center;
    display: inline-flex;
}

a.with-icon {
    text-decoration: none;
}

.with-icon .icon {
    margin-inline-end: var(--space-1);
}
