.repel {
    display: flex;
    flex-direction: column;
    gap: var(--gap, var(--space-4));
}

.repel .cta,
.repel button {
    min-width: 25%;
    width: auto;
}

.repel .badge {
    width: auto;
}

@media (min-width: 48rem) {
    .repel {
        align-items: center;
        flex-direction: row;
        justify-content: space-between;
    }

    .repel h1 {
        max-width: 66%;
    }
}
