.repel {
    align-items: center;
    display: flex;
    gap: var(--gap, var(--size-3));
    justify-content: space-between;
}

.repel button,
.repel input[type="reset"],
.repel input[type="submit"] {
    min-width: 25%;
    width: auto;
}
