.repel {
    align-items: center;
    display: flex;
    gap: var(--gap, var(--space-4));
    justify-content: space-between;
}

.repel .cta,
.repel button,
.repel input[type="reset"],
.repel input[type="submit"] {
    min-width: 25%;
    width: auto;
}
