.with-sidebar {
    display: flex;
    flex-flow: row wrap;
    gap: var(--size-5);
}

.with-sidebar > :first-child {
    flex-basis: var(--sidebar-basis, calc(var(--max-w-prose) / 2));
    flex-grow: 1;
}

.with-sidebar > :last-child {
    flex-basis: 0;
    flex-grow: 999;
    min-inline-size: var(--content-width, 50%);
}

.with-sidebar\:last {
    flex-flow: row-reverse wrap;
}

.with-sidebar\:1\/2 {
    --content-width: 50%;
    --sidebar-basis: 65ch;
}

.with-sidebar\:1\/3 {
    --content-width: 33%;
    --sidebar-basis: 88ch;
}

.with-sidebar\:2\/3 {
    --content-width: 66%;
    --sidebar-basis: 43ch;
}
