.stack {
    --space: 1em;
}

.stack > * + * {
    margin-block-start: var(--space);
}

.stack > *:empty + * {
    margin-block-start: 0;
}

.stack > h5 + p {
    @apply mt-0;
}

.stack\:lg {
    --space: 2em;
}

.stack\:xl {
    --space: 3em;
}
