// -----------------------------------------------------------------------------
// This file contains all styles related to the alert component.
// -----------------------------------------------------------------------------
.alert {
    background: var(--alert-background);
    border-radius: var(--radius-2);
    color: var(--alert-color);
    padding: var(--size-3);
}

.alert .title {
    @extend %h4;

    align-items: center;
    color: var(--alert-color);
    display: flex;
    flex-direction: row;
}

.alert .title + * {
    margin-block-start: var(--size-1);
}

.alert .icon {
    height: var(--size-5);
    margin-inline-end: var(--size-1);
    width: var(--size-5);
}

.alert--error {
    background: var(--alert-background-error);
    color: var(--alert-color-error);
}

.alert--warning {
    background: var(--alert-background-warning);
    color: var(--alert-color-warning);
}

.alert--success {
    background: var(--alert-background-success);
    color: var(--alert-color-success);
}

@media (--md-n-above) {
    .alert .title {
        font-size: var(--font-size-3);
        font-size: var(--ae-font-size-fluid-2);
    }
}

@media (--xl-n-above) {
    .alert .title {
        font-size: var(--font-size-4);
        font-size: var(--ae-font-size-fluid-2);
        font-weight: var(--font-weight-4);
    }
}
