// -----------------------------------------------------------------------------
// This file contains all styles related to the alert component.
// -----------------------------------------------------------------------------
.alert {
    border: var(--ll-border-thin);
    border-radius: var(--radius-2);
    padding: var(--step-0) var(--step-1);
}

.alert .title {
    align-items: center;
    display: flex;
    flex-direction: row;
    font-size: var(--font-size-4);
    font-weight: var(--font-weight-4);
}

.alert .icon {
    height: var(--step-2);
    margin-inline-end: var(--step--5);
    width: var(--step-2);
}

.alert--error {
    border-color: var(--ll-text-color-error);
    color: var(--ll-text-color-error);
}
