/* This file contains all styles related to the alert component. */
.alert {
    --btn-borderless-color: var(--alert-color);
    --btn-borderless-color-focus: var(--alert-color);

    background: var(--alert-background);
    border: var(--border) solid var(--alert-border);
    border-radius: var(--radius-sm);
    color: var(--alert-color);
    padding-block: var(--space-4);
    padding-inline: var(--space-12) var(--space-4);
}

.alert .title {
    align-items: center;
    color: var(--heading-color);
    color: inherit;
    display: flex;
    flex-direction: row;
    font-family: var(--font-base);
    font-size: var(--text-lg);
    font-size: var(--text-fluid-lg);
    font-weight: var(--font-semibold);
    margin-inline-start: calc(-1 * var(--space-7));
}

@media (min-width: 48rem) {
    .alert .title {
        font-size: var(--text-xl);
        font-size: var(--text-fluid-lg);
    }
}

@media (min-width: 75rem) {
    .alert .title {
        font-size: var(--text-2xl);
        font-size: var(--text-fluid-lg);
        font-weight: var(--font-normal);
    }
}

.alert .title + * {
    margin-block-start: var(--space-1);
}

.alert svg {
    height: var(--space-6);
    margin-inline-end: var(--space-1);
    width: var(--space-6);
}

.alert--error {
    --btn-borderless-color: var(--alert-color-error);
    --btn-borderless-color-focus: var(--alert-color-error);
    --link-color: var(--alert-color-error);
    --link-color-visited: var(--alert-color-error);

    background: var(--alert-background-error);
    border-color: var(--alert-border-error);
    color: var(--alert-color-error);
}

.alert--warning {
    --btn-borderless-color: var(--alert-color-warning);
    --btn-borderless-color-focus: var(--alert-color-warning);
    --link-color: var(--alert-color-warning);
    --link-color-visited: var(--alert-color-warning);

    background: var(--alert-background-warning);
    border-color: var(--alert-border-warning);
    color: var(--alert-color-warning);
}

.alert--success {
    --btn-borderless-color: var(--alert-color-success);
    --btn-borderless-color-focus: var(--alert-color-success);
    --link-color: var(--alert-color-success);
    --link-color-visited: var(--alert-color-success);

    background: var(--alert-background-success);
    border-color: var(--alert-border-success);
    color: var(--alert-color-success);
}

.alert .actions {
    display: flex;
    gap: var(--space-2);
}

@media (min-width: 48rem) {
    .alert .title {
        font-size: var(--text-xl);
        font-size: var(--text-fluid-lg);
    }
}

@media (min-width: 75rem) {
    .alert .title {
        font-size: var(--text-2xl);
        font-size: var(--text-fluid-lg);
        font-weight: var(--font-normal);
    }
}
