/* This file contains all styles related to the alert component. */
.alert {
    background: var(--alert-background);
    border: var(--border-size-1) solid var(--alert-border);
    border-radius: var(--radius-2);
    color: var(--alert-color);
    padding: var(--size-3);
}

.alert .title {
    align-items: center;
    color: var(--heading-color);
    color: inherit;
    display: flex;
    flex-direction: row;
    font-family: var(--tae-font-family-base);
    font-size: var(--font-size-2);
    font-size: var(--tae-font-size-fluid-2);
    font-weight: var(--font-weight-6);
}

@media (min-width: 768px) {
    .alert .title {
        font-size: var(--font-size-3);
        font-size: var(--tae-font-size-fluid-2);
    }
}

@media (min-width: 1200px) {
    .alert .title {
        font-size: var(--font-size-4);
        font-size: var(--tae-font-size-fluid-2);
        font-weight: var(--font-weight-4);
    }
}

.alert .title + * {
    margin-block-start: var(--size-1);
}

.alert svg {
    height: var(--size-5);
    margin-inline-end: var(--size-1);
    width: var(--size-5);
}

.alert--error {
    background: var(--alert-background-error);
    border-color: var(--alert-border-error);
    color: var(--alert-color-error);
}

.alert--warning {
    background: var(--alert-background-warning);
    border-color: var(--alert-border-warning);
    color: var(--alert-color-warning);
}

.alert--success {
    background: var(--alert-background-success);
    border-color: var(--alert-border-success);
    color: var(--alert-color-success);
}

@media (min-width: 768px) {
    .alert .title {
        font-size: var(--font-size-3);
        font-size: var(--tae-font-size-fluid-2);
    }
}

@media (min-width: 1200px) {
    .alert .title {
        font-size: var(--font-size-4);
        font-size: var(--tae-font-size-fluid-2);
        font-weight: var(--font-weight-4);
    }
}
