/* This file contains all styles related to the auth card component. */
.auth-card {
    --gutter: var(--space-8);

    background: var(--body-background);
    border-radius: var(--radius-md);
    box-shadow: var(--banner-shadow);
    padding: var(--gutter);
}

.auth-card .logo {
    margin-inline: auto;
    max-width: calc(var(--max-w-prose) / 2);
}
