.autocomplete__wrapper {
    position: relative;
}

.autocomplete__hint,
.autocomplete__input {
    appearance: none;
    border: 2px solid #0b0c0c;
    border-radius: 0; /* Safari 10 on iOS adds implicit border rounding. */
    box-sizing: border-box;
    margin-block-end: 0; /* BUG: Safari 10 on macOS seems to add an implicit margin. */
    width: 100%;
}

.autocomplete__input {
    background-color: transparent;
    position: relative;
}

.autocomplete__hint {
    color: #b1b4b6;
    position: absolute;
}

.autocomplete__input--default {
    padding: 5px;
}

.autocomplete__input--focused {
    box-shadow: inset 0 0 0 2px;
    outline: 3px solid #fd0;
    outline-offset: 0;
}

.autocomplete__input--show-all-values {
    cursor: pointer;
    padding-block: 5px;
    padding-inline: 5px 34px; /* Space for arrow. Other padding should match .autocomplete__input--default. */
}

.autocomplete__dropdown-arrow-down {
    display: inline-block;
    height: 24px;
    position: absolute;
    right: 8px;
    top: 10px;
    width: 24px;
    z-index: -1;
}

.autocomplete__menu {
    background-color: #fff;
    border: 2px solid #0b0c0c;
    border-block-start: 0;
    color: #0b0c0c;
    margin: 0;
    max-height: 342px;
    overflow-x: hidden;
    padding: 0;
    width: 100%;
    width: calc(100% - 4px);
}

.autocomplete__menu--visible {
    display: block;
}

.autocomplete__menu--hidden {
    display: none;
}

.autocomplete__menu--overlay {
    box-shadow: rgb(0 0 0 / 25.7%) 0 2px 6px;
    left: 0;
    position: absolute;
    top: 100%;
    z-index: 100;
}

.autocomplete__menu--inline {
    position: relative;
}

.autocomplete__option {
    border-block-end: solid #b1b4b6;
    border-width: 1px 0;
    cursor: pointer;
    display: block;
    position: relative;
}

.autocomplete__option > * {
    pointer-events: none;
}

.autocomplete__option:first-of-type {
    border-block-start-width: 0;
}

.autocomplete__option:last-of-type {
    border-block-end-width: 0;
}

.autocomplete__option--odd {
    background-color: #fafafa;
}

.autocomplete__option--focused,
.autocomplete__option:hover {
    background-color: #1d70b8;
    border-color: #1d70b8;
    color: white;
    outline: none;
}

@media (-ms-high-contrast: active), (forced-colors: active) {
    .autocomplete__menu {
        border-color: fieldtext;
    }

    .autocomplete__option {
        background-color: field;
        color: fieldtext;
    }

    .autocomplete__option--focused,
    .autocomplete__option:hover {
        background-color: Highlight;

        /* Prefer SelectedItem / SelectedItemText in browsers that support it */
        background-color: selecteditem;
        border-color: Highlight;
        border-color: selecteditem;
        color: HighlightText;
        color: selecteditemtext;
        forced-color-adjust: none; /* prevent backplate from obscuring text */
        outline-color: selecteditemtext;
    }
}

.autocomplete__option--no-results {
    background-color: #fafafa;
    color: #646b6f;
    cursor: not-allowed;
}

.autocomplete__hint,
.autocomplete__input,
.autocomplete__option {
    font-size: 16px;
    line-height: 1.25;
}

.autocomplete__hint,
.autocomplete__option {
    padding: 5px;
}

@media (min-width: 641px) {
    .autocomplete__hint,
    .autocomplete__input,
    .autocomplete__option {
        font-size: 19px;
        line-height: 1.3158;
    }
}
