.badge {
    background: var(--badge-background);
    border: var(--border) solid var(--badge-border);
    border-radius: var(--radius-xs);
    color: var(--badge-color);
    font-family: var(--font-base);
    font-size: var(--text-base);
    font-weight: var(--font-normal);
    padding: var(--space-2);
}
