.badge {
    align-items: center;
    background: var(--badge-background);
    border: var(--border) solid var(--badge-border);
    border-radius: var(--radius-xl);
    color: var(--badge-color);
    display: inline-flex;
    font-family: var(--font-base);
    font-size: var(--text-base);
    font-weight: var(--font-normal);
    min-height: calc(var(--space-10) - var(--space-1));
    padding-inline: var(--space-2);
}

.badge--alt {
    --badge-background: var(--box-background);
    --badge-border: var(--box-background);
}

.badge--stop {
    --badge-background: var(--bg, var(--color-red-1));
    --badge-border: var(--fg, var(--color-red-1));

    color: var(--badge-color-alt);
}

.badge--go {
    --badge-background: var(--bg, var(--color-green-1));
    --badge-border: var(--fg, var(--color-green-1));

    color: var(--badge-color-alt);
}

.badge--yellow {
    --badge-background: var(--bg, var(--color-yellow-2));
    --badge-border: var(--fg, var(--badge-background));

    color: var(--badge-color-alt);
}

.badge--turquoise {
    --badge-background: var(--bg, var(--color-turquoise-1));
    --badge-border: var(--fg, var(--badge-background));

    color: var(--badge-color-alt);
}

.badge--lavender {
    --badge-background: var(--bg, var(--color-lavender-2));
    --badge-border: var(--fg, var(--badge-background));

    color: var(--badge-color-alt);
}

.badge--magenta {
    --badge-background: var(--bg, var(--color-magenta-2));
    --badge-border: var(--fg, var(--badge-background));

    color: var(--badge-color-alt);
}
