.badge {
    background: var(--badge-background);
    border: var(--border-size-1) solid var(--badge-border);
    border-radius: var(--radius-1);
    color: var(--badge-color);
    font-family: var(--font-base);
    font-size: var(--text-base);
    font-weight: var(--font-normal);
    padding: var(--size-2);
}
