.banner {
    border-block-start: dashed 1px;
    @apply flex h-auto w-full items-center p-4;
}

.banner p {
    @apply flex flex-wrap items-center justify-center text-xl;
}

.banner a,
.banner a:visited {
    color: inherit;
}

.banner--error {
    background-color: var(--banner-error-background);
    border-block-start-color: var(--banner-error-border);
    color: var(--banner-error-color);
}

.banner--success {
    background-color: var(--banner-success-background);
    border-block-start-color: var(--banner-success-border);
    color: var(--banner-success-color);
}

.banner--warning {
    background-color: var(--banner-warning-background);
    border-block-start-color: var(--banner-warning-border);
    color: var(--banner-warning-color);
}
