/* This file contains all styles related to the brand component. */
.brand {
    color: var(--brand-color);
    display: inline-block;
    height: var(--space-12);
    margin-block: var(--space-5);
    width: auto;
}

.brand > *,
.brand svg {
    height: inherit;
}

a.brand:visited svg,
.dark a.brand:visited svg,
.darker a.brand:visited svg {
    color: var(--brand-color);
}

[data-theme] .logo {
    display: none;
    width: auto;
}

[data-theme] .logo.logo--themeable {
    display: block;
}

[data-theme="light"] .logo {
    display: block;
}

[data-theme="light"] .logo.logo--themeable {
    display: none;
}

@media (prefers-color-scheme: light) {
    [data-theme="system"] .logo {
        display: block;
    }

    [data-theme="system"] .logo.logo--themeable {
        display: none;
    }
}

@media (prefers-color-scheme: dark) {
    [data-theme="system"] .logo.logo--themeable {
        display: block;
    }

    [data-theme="system"] .logo {
        display: none;
    }
}

@media (min-width: 48rem) {
    .brand {
        height: var(--space-16);
    }
}
