// -----------------------------------------------------------------------------
// This file contains all styles related to the brand component.
// -----------------------------------------------------------------------------
.brand {
    height: var(--size-8);
    margin-block: var(--size-4);

    a {
        color: var(--brand-color);
        display: flex;
        height: inherit;
        justify-content: flex-start;
        width: 100%;
    }

    svg {
        height: inherit;
    }
}

[data-theme] .brand .logo {
    display: none;
}

[data-theme] .brand .logo--themeable {
    display: block;
}

[data-theme="light"] .brand .logo {
    display: block;
}

[data-theme="light"] .brand .logo--themeable {
    display: none;
}

@media (--OSlight) {
    [data-theme="system"] .brand .logo {
        display: block;
    }

    [data-theme="system"] .brand .logo--themeable {
        display: none;
    }
}

@media (--OSdark) {
    [data-theme="system"] .brand .logo--themeable {
        display: block;
    }

    [data-theme="system"] .brand .logo {
        display: none;
    }
}

@media (--md-n-above) {
    .brand {
        height: var(--size-9);
    }
}
