// -----------------------------------------------------------------------------
// This file contains all styles related to the brand component.
// -----------------------------------------------------------------------------
.brand {
    height: var(--size-9);
    margin-block: var(--size-4);

    a {
        display: flex;
        height: var(--size-9);
        justify-content: center;
        width: 100%;
    }

    svg {
        height: inherit;
    }
}

[data-theme] .brand .logo {
    display: none;
}

[data-theme] .brand .logo--themeable {
    display: block;
}

[data-theme="light"] .brand .logo {
    display: block;
}

[data-theme="light"] .brand .logo--themeable {
    display: none;
}

@media (--OSlight) {
    [data-theme="system"] .brand .logo {
        display: block;
    }

    [data-theme="system"] .brand .logo--themeable {
        display: none;
    }
}

@media (--OSdark) {
    [data-theme="system"] .brand .logo--themeable {
        display: block;
    }

    [data-theme="system"] .brand .logo {
        display: none;
    }
}
