button,
button[type="submit"],
input[type="submit"] {
    align-items: center;
    appearance: none;
    background: var(--button-primary-background);
    border-color: var(--button-primary-border);
    border-radius: var(--radius-sm);
    border-style: solid;
    border-width: var(--border-2);
    box-shadow: var(--card-shadow);
    color: var(--button-primary-color);
    display: flex;
    font-family: var(--font-base);
    font-size: var(--text-base);
    font-weight: var(--font-semibold);
    gap: var(--space-2);
    justify-content: center;
    min-height: calc(var(--space-12) - var(--space-1));
    padding-inline: var(--space-4);
    width: auto;
}

button:hover,
button[type="submit"]:hover,
input[type="submit"]:hover {
    background: var(--button-primary-background-hover);
    border-color: var(--button-primary-border-hover);
    color: var(--button-primary-color-hover);
}

button:focus,
button[type="submit"]:focus,
input[type="submit"]:focus {
    outline: var(--button-primary-outline) solid calc(var(--space-1) / 2);
    outline-offset: calc(var(--space-1) / 2);
}

button:active,
button[type="submit"]:active,
input[type="submit"]:active {
    background: var(--button-primary-background-active);
    border-color: var(--button-primary-border-active);
    color: var(--button-primary-color-active);
}

button svg,
button[type="submit"] svg,
input[type="submit"] svg {
    height: 1em;
}

button.destructive {
    background: var(--button-destructive-background);
    border-color: var(--button-destructive-border);
    box-shadow: none;
    color: var(--button-destructive-color);
}

button.destructive:hover {
    background: var(--button-destructive-background-hover);
    border-color: var(--button-destructive-border-hover);
    color: var(--button-destructive-color-hover);
}

button.destructive:focus {
    outline: var(--button-destructive-outline) solid calc(var(--space-1) / 2);
}

button.destructive:active {
    background: var(--button-destructive-background-active);
    border-color: var(--button-destructive-border-active);
    color: var(--button-destructive-color-active);
}

.dark button,
.dark button[type="submit"],
.dark input[type="submit"],
.darker button,
.darker button[type="submit"],
.darker input[type="submit"] {
    background: var(--button-dark-primary-background);
    border-color: var(--button-dark-primary-border);
    color: var(--button-dark-primary-color);
}

.dark button:hover,
.dark button[type="submit"]:hover,
.dark input[type="submit"]:hover,
.darker button:hover,
.darker button[type="submit"]:hover,
.darker input[type="submit"]:hover {
    background: var(--button-dark-primary-background-hover);
    border-color: var(--button-dark-primary-border-hover);
    color: var(--button-dark-primary-color-hover);
}

.dark button:focus,
.dark button[type="submit"]:focus,
.dark input[type="submit"]:focus,
.darker button:focus,
.darker button[type="submit"]:focus,
.darker input[type="submit"]:focus {
    outline: var(--button-dark-primary-outline) solid calc(var(--space-1) / 2);
}

.dark button:active,
.dark button[type="submit"]:active,
.dark input[type="submit"]:active,
.darker button:active,
.darker button[type="submit"]:active,
.darker input[type="submit"]:active {
    background: var(--button-dark-primary-background-active);
    border-color: var(--button-dark-primary-border-active);
    color: var(--button-dark-primary-color-active);
}

button.secondary,
button[type="reset"],
input[type="reset"],
input[type="submit"].secondary {
    align-items: center;
    appearance: none;
    background: var(--button-secondary-background);
    border-color: var(--button-secondary-border);
    border-radius: var(--radius-sm);
    border-style: solid;
    border-width: var(--border-2);
    box-shadow: none;
    color: var(--button-secondary-color);
    display: flex;
    font-family: var(--font-base);
    font-size: var(--text-base);
    font-weight: var(--font-semibold);
    gap: var(--space-2);
    justify-content: center;
    min-height: calc(var(--space-12) - var(--space-1));
    padding-inline: var(--space-4);
    width: auto;
}

button.secondary:hover,
button[type="reset"]:hover,
input[type="reset"]:hover,
input[type="submit"].secondary:hover {
    background-color: var(--button-secondary-background-hover);
    border-color: var(--button-secondary-border-hover);
    color: var(--button-secondary-color-hover);
}

button.secondary:focus,
button[type="reset"]:focus,
input[type="reset"]:focus,
input[type="submit"].secondary:focus {
    outline: var(--button-secondary-outline) solid calc(var(--space-1) / 2);
    outline-offset: calc(var(--space-1) / 2);
}

button.secondary:active,
button[type="reset"]:active,
input[type="reset"]:active,
input[type="submit"].secondary:active {
    background-color: var(--button-secondary-background-active);
    border-color: var(--button-secondary-border-active);
    color: var(--button-secondary-color-active);
}

button.destructive.secondary {
    align-items: center;
    appearance: none;
    background: var(--button-destructive-secondary-background);
    border-color: var(--button-destructive-secondary-border);
    border-radius: var(--radius-sm);
    border-style: solid;
    border-width: var(--border-2);
    color: var(--button-destructive-secondary-color);
    display: flex;
    font-family: var(--font-base);
    font-size: var(--text-base);
    font-weight: var(--font-semibold);
    gap: var(--space-2);
    justify-content: center;
    min-height: calc(var(--space-12) - var(--space-1));
    padding-inline: var(--space-4);
    width: auto;
}

button.destructive.secondary:hover {
    background-color: var(--button-destructive-secondary-background-hover);
    border-color: var(--button-destructive-secondary-border-hover);
    color: var(--button-destructive-secondary-color-hover);
}

button.destructive.secondary:focus {
    outline: var(--button-destructive-secondary-outline) solid calc(var(--space-1) / 2);
    outline-offset: calc(var(--space-1) / 2);
}

button.destructive.secondary:active {
    background-color: var(--button-destructive-secondary-background-active);
    border-color: var(--button-destructive-secondary-border-active);
    color: var(--button-destructive-secondary-color-active);
}

button.borderless,
button.borderless[type="submit"],
input.borderless[type="submit"] {
    background: inherit;
    border: 0;
    box-shadow: none;
    color: currentcolor;
    margin-inline-start: calc(-1 * var(--space-4));
    padding-inline: var(--space-4);
}

button.borderless:hover,
button.borderless[type="submit"]:hover,
input.borderless[type="submit"]:hover {
    background: var(--button-borderless-background-hover);
    color: var(--button-borderless-color-hover);
}

button.borderless:focus,
button.borderless[type="submit"]:focus,
input.borderless[type="submit"]:focus {
    color: var(--button-borderless-color-focus);
    outline: var(--button-borderless-outline) solid calc(var(--space-1) / 2);
    outline-offset: calc(var(--space-1) / 2);
}

button.borderless:active,
button.borderless[type="submit"]:active,
input.borderless[type="submit"]:active {
    color: var(--button-borderless-color-active);
}

.borderless svg {
    height: 1.25em;
}
