button {
    align-items: center;
    appearance: none;
    background: var(--btn-primary-background);
    border-color: var(--btn-primary-border);
    border-radius: var(--radius-sm);
    border-style: solid;
    border-width: var(--border-2);
    box-shadow: var(--btn-primary-shadow);
    color: var(--btn-primary-color);
    display: flex;
    font-family: var(--font-base);
    font-size: var(--text-base);
    font-weight: var(--font-semibold);
    gap: var(--space-2);
    justify-content: center;
    min-height: calc(var(--space-12) - var(--space-1));
    padding-inline: var(--space-4);
    width: auto;
}

button:focus {
    @apply ring-2 ring-offset-3 ring-offset-bg;

    --tw-ring-color: var(--btn-primary-outline);

    outline: transparent;
}

button:hover {
    background: var(--btn-primary-background-hover);
    border-color: var(--btn-primary-border-hover);
    color: var(--btn-primary-color-hover);
}

button:active,
button:focus:active {
    background: var(--btn-primary-background-active);
    border-color: var(--btn-primary-border-active);
    box-shadow: none;
    color: var(--btn-primary-color-active);
}

button svg {
    height: 1em;
}

button.destructive {
    background: var(--btn-destructive-background);
    border-color: var(--btn-destructive-border);
    box-shadow: var(--btn-destructive-shadow);
    color: var(--btn-destructive-color);
}

button.destructive:hover {
    background: var(--btn-destructive-background-hover);
    border-color: var(--btn-destructive-border-hover);
    color: var(--btn-destructive-color-hover);
}

button.destructive:focus {
    @apply ring-2 ring-offset-3 ring-offset-bg;

    --tw-ring-color: var(--btn-destructive-outline);

    outline: transparent;
}

button.destructive:active,
button.destructive:focus:active {
    background: var(--btn-destructive-background-active);
    border-color: var(--btn-destructive-border-active);
    box-shadow: none;
    color: var(--btn-destructive-color-active);
}

.dark button,
.darker button {
    background: var(--btn-dark-primary-background);
    border-color: var(--btn-dark-primary-border);
    color: var(--btn-dark-primary-color);
}

.dark button:hover,
.darker button:hover {
    background: var(--btn-dark-primary-background-hover);
    border-color: var(--btn-dark-primary-border-hover);
    color: var(--btn-dark-primary-color-hover);
}

.dark button:focus {
    --bg: var(--content-dark-background);
}

.darker button:focus {
    --bg: var(--content-darker-background);
}

.dark button:active,
.dark button:focus:active,
.darker button:active,
.darker button:focus:active {
    background: var(--btn-dark-primary-background-active);
    border-color: var(--btn-dark-primary-border-active);
    box-shadow: none;
    color: var(--btn-dark-primary-color-active);
}

button.secondary {
    align-items: center;
    appearance: none;
    background: var(--btn-secondary-background);
    border-color: var(--btn-secondary-border);
    border-radius: var(--radius-sm);
    border-style: solid;
    border-width: var(--border-2);
    box-shadow: none;
    color: var(--btn-secondary-color);
    display: flex;
    font-family: var(--font-base);
    font-size: var(--text-base);
    font-weight: var(--font-semibold);
    gap: var(--space-2);
    justify-content: center;
    min-height: calc(var(--space-12) - var(--space-1));
    padding-inline: var(--space-4);
    width: auto;
}

button.secondary:focus {
    @apply ring-2 ring-offset-3 ring-offset-bg;

    --tw-ring-color: var(--btn-secondary-outline);

    outline: transparent;
}

button.secondary:hover {
    background-color: var(--btn-secondary-background-hover);
    border-color: var(--btn-secondary-border-hover);
    color: var(--btn-secondary-color-hover);
}

button.secondary:active,
button.secondary:focus:active {
    background-color: var(--btn-secondary-background-active);
    border-color: var(--btn-secondary-border-active);
    box-shadow: none;
    color: var(--btn-secondary-color-active);
}

button.destructive.secondary {
    align-items: center;
    appearance: none;
    background: var(--btn-destructive-secondary-background);
    border-color: var(--btn-destructive-secondary-border);
    border-radius: var(--radius-sm);
    border-style: solid;
    border-width: var(--border-2);
    box-shadow: none;
    color: var(--btn-destructive-secondary-color);
    display: flex;
    font-family: var(--font-base);
    font-size: var(--text-base);
    font-weight: var(--font-semibold);
    gap: var(--space-2);
    justify-content: center;
    min-height: calc(var(--space-12) - var(--space-1));
    padding-inline: var(--space-4);
    width: auto;
}

button.destructive.secondary:hover {
    background-color: var(--btn-destructive-secondary-background-hover);
    border-color: var(--btn-destructive-secondary-border-hover);
    color: var(--btn-destructive-secondary-color-hover);
}

button.destructive.secondary:focus {
    @apply ring-2 ring-offset-3 ring-offset-bg;

    --tw-ring-color: var(--btn-destructive-secondary-outline);

    outline: transparent;
}

button.destructive.secondary:active,
button.destructive.secondary:focus:active {
    background-color: var(--btn-destructive-secondary-background-active);
    border-color: var(--btn-destructive-secondary-border-active);
    box-shadow: none;
    color: var(--btn-destructive-secondary-color-active);
}

button.borderless {
    background: inherit;
    border: solid var(--border-2);
    border-color: transparent;
    box-shadow: none;
    color: var(--btn-borderless-color);
    margin-inline-start: calc(-1 * var(--space-4));
    padding-inline: var(--space-4);
}

button.borderless:focus {
    @apply ring-2 ring-offset-3 ring-offset-bg;

    --tw-ring-color: var(--btn-borderless-outline);

    border-color: var(--btn-borderless-outline);
    color: var(--btn-borderless-color-focus);
    outline: transparent;
}

button.borderless:hover {
    background: var(--btn-borderless-background-hover);
    color: var(--btn-borderless-color-hover);
}

button.borderless:active,
button.borderless:focus:active {
    background: var(--btn-borderless-background-active);
    box-shadow: none;
    color: var(--btn-borderless-color-active);
}

.borderless svg {
    height: 1.25em;
}

button.borderless.destructive {
    color: var(--btn-destructive-borderless-color);
}

button.borderless.destructive:focus {
    @apply ring-2 ring-offset-3 ring-offset-bg;

    --tw-ring-color: var(--btn-destructive-borderless-outline);

    border-color: var(--btn-destructive-borderless-outline);
    color: var(--btn-destructive-borderless-color-focus);
}

button.borderless.destructive:hover {
    background: var(--btn-destructive-borderless-background-hover);
    color: var(--btn-destructive-borderless-color-hover);
}

button.borderless.destructive:active,
button.borderless.destructive:focus:active {
    background-color: var(--btn-destructive-borderless-background-active);
    box-shadow: none;
    color: var(--btn-destructive-borderless-color-active);
}
