button,
input[type="submit"],
input[type="reset"] {
    appearance: none;
    border: var(--border-size-2) solid var(--ae-blue-7);
    border-radius: var(--radius-2);
    font-family: var(--ae-font-family-base);
    font-size: var(--font-size-1);
    font-weight: var(--font-weight-6);
    height: var(--size-8);
    padding-inline: var(--size-3);
    width: 100%;
}

button,
input[type="submit"] {
    background: var(--ae-blue-7);
    color: var(--ae-white);
}

input[type="reset"],
button.secondary {
    background: var(--ae-white);
    color: var(--ae-blue-7);
}
