.card {
    box-shadow: var(--card-shadow);
    position: relative;
}

.card a {
    text-decoration: none;
}

.card a::before {
    content: "";
    display: block;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}

.card a:focus {
    outline: none;
}

.card.federally-regulated-organization {
    box-shadow: var(--card-shadow), var(--card-federally-regulated-organization-shadow);
}

.card.federally-regulated-organization:hover {
    box-shadow: var(--card-shadow-hover), var(--card-federally-regulated-organization-shadow);
}

.card.federally-regulated-organization:focus-within,
.card.federally-regulated-organization:has(a:active) {
    box-shadow: var(--card-federally-regulated-organization-shadow-focus-within);
}

.card.community-organization {
    box-shadow: var(--card-shadow), var(--card-community-organization-shadow);
}

.card.community-organization:hover {
    box-shadow: var(--card-shadow-hover), var(--card-community-organization-shadow);
}

.card.community-organization:focus-within,
.card.community-organization:has(a:active) {
    box-shadow: var(--card-community-organization-shadow-focus-within);
}

.card.community-member {
    box-shadow: var(--card-shadow), var(--card-community-member-shadow);
}

.card.community-member:hover {
    box-shadow: var(--card-shadow-hover), var(--card-community-member-shadow);
}

.card.community-member:focus-within,
.card.community-member:has(a:active) {
    box-shadow: var(--card-community-member-shadow-focus-within);
}
