.card {
    box-shadow: var(--card-shadow);
    position: relative;
}

.card + *,
.stack > .card + * {
    margin-block-start: var(--space-12);
}

.grid > .card + * {
    @apply mt-0;
}

.card a {
    position: unset;
    text-decoration: none;
}

.card a::after {
    bottom: 0;
    content: "";
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
}

.card a:focus {
    box-shadow: none;
    outline: 1px solid transparent;
}

.card a:active {
    background: inherit;
    box-shadow: none;
}

.card.regulated-organization {
    box-shadow: var(--card-shadow), var(--card-regulated-organization-shadow);
}

.card.regulated-organization:hover {
    box-shadow: var(--card-shadow-hover), var(--card-regulated-organization-shadow);
}

.card.regulated-organization:focus-within,
.card.regulated-organization:has(a:active) {
    box-shadow: var(--card-regulated-organization-shadow-focus-within);
}

.card.organization {
    box-shadow: var(--card-shadow), var(--card-organization-shadow);
}

.card.organization:hover {
    box-shadow: var(--card-shadow-hover), var(--card-organization-shadow);
}

.card.organization:focus-within,
.card.organization:has(a:active) {
    box-shadow: var(--card-organization-shadow-focus-within);
}

.card.individual {
    box-shadow: var(--card-shadow), var(--card-individual-shadow);
}

.card.individual:hover {
    box-shadow: var(--card-shadow-hover), var(--card-individual-shadow);
}

.card.individual:focus-within,
.card.individual:has(a:active) {
    box-shadow: var(--card-individual-shadow-focus-within);
}

.card.project {
    box-shadow: var(--card-shadow), var(--card-project-shadow);
    z-index: 1;
}

.card.project:hover {
    box-shadow: var(--card-shadow-hover), var(--card-project-shadow);
}

.card.project:focus-within,
.card.project:has(a:active) {
    box-shadow: var(--card-project-shadow-focus-within);
}

.card.engagement {
    box-shadow: var(--card-engagement-shadow);
}

.card.project ~ .card.engagement {
    @apply mt-0 bg-blue-1;

    box-shadow: var(--card-shadow), var(--card-engagement-shadow);
    margin-inline-start: var(--gutter);
    width: calc(100% - calc(2 * var(--gutter)));
}

.card.engagement:hover,
.card.project ~ .card.engagement:hover {
    box-shadow: var(--card-shadow-hover), var(--card-engagement-shadow);
}

.card.engagement:focus-within,
.card.engagement:has(a:active),
.card.project ~ .card.engagement:focus-within,
.card.project ~ .card.engagement:has(a:active) {
    box-shadow: var(--card-engagement-shadow-focus-within);
}

.manage-section .card.organization,
.manage-section .card.individual {
    @apply -mx-6;

    box-shadow: var(--card-organization-shadow);
}

.manage-section .card.organization:hover,
.manage-section .card.individual:hover {
    box-shadow: var(--card-organization-shadow-focus-within);
}

.manage-section .card.organization + footer {
    margin-block-start: 0;
}
