.card {
    background-color: var(--box-background);
    box-shadow: var(--card-shadow);
    color: var(--box-color);
    padding-block: var(--space-6);
    padding-inline: var(--space-8);
    position: relative;
}

.card + *,
.stack > .card + * {
    margin-block-start: var(--space-12);
}

.grid > .card + * {
    @apply mt-0;
}

.card a,
.card a:visited {
    color: var(--card-link-color);
    position: unset;
    text-decoration: none;
}

.card a::after {
    bottom: 0;
    content: "";
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
}

.card a:hover {
    color: var(--card-link-color);
}

.card a:focus {
    box-shadow: none;
    outline: 1px solid transparent;
}

.card a:active,
.card a:active:visited {
    background: inherit;
    box-shadow: none;
    color: var(--card-link-color);
}

.card.individual {
    box-shadow: var(--card-shadow), var(--card-individual-shadow);
}

.card.individual:hover {
    box-shadow: var(--card-shadow-hover), var(--card-individual-shadow);
}

.card.individual:focus-within {
    box-shadow: var(--card-shadow), var(--card-individual-shadow-focus-within);
}

.card.individual:has(a:active) {
    box-shadow: var(--card-shadow), var(--card-individual-shadow-focus-within);
}

.card.organization {
    box-shadow: var(--card-shadow), var(--card-organization-shadow);
}

.card.organization:hover {
    box-shadow: var(--card-shadow-hover), var(--card-organization-shadow);
}

.card.organization:focus-within {
    box-shadow: var(--card-shadow), var(--card-organization-shadow-focus-within);
}

.card.organization:has(a:active) {
    box-shadow: var(--card-shadow), var(--card-organization-shadow-focus-within);
}

.card.regulated-organization {
    box-shadow: var(--card-shadow), var(--card-regulated-organization-shadow);
}

.card.regulated-organization:hover {
    box-shadow: var(--card-shadow-hover), var(--card-regulated-organization-shadow);
}

.card.regulated-organization:focus-within {
    box-shadow: var(--card-shadow), var(--card-regulated-organization-shadow-focus-within);
}

.card.regulated-organization:has(a:active) {
    box-shadow: var(--card-shadow), var(--card-regulated-organization-shadow-focus-within);
}

.card.project {
    box-shadow: var(--card-shadow), var(--card-project-shadow);
    z-index: 1;
}

.card.project:hover {
    box-shadow: var(--card-shadow-hover), var(--card-project-shadow);
}

.card.project:focus-within {
    box-shadow: var(--card-shadow), var(--card-project-shadow-focus-within);
}

.card.project:has(a:active) {
    box-shadow: var(--card-shadow), var(--card-project-shadow-focus-within);
}

.card.engagement {
    box-shadow: var(--card-shadow), var(--card-engagement-shadow);
}

.card.engagement:hover,
.card.project ~ .card.engagement:hover {
    box-shadow: var(--card-shadow-hover), var(--card-engagement-shadow);
}

.card.engagement:focus-within,
.card.project ~ .card.engagement:focus-within {
    box-shadow: var(--card-shadow), var(--card-engagement-shadow-focus-within);
}

.card.engagement:has(a:active),
.card.project ~ .card.engagement:has(a:active) {
    box-shadow: var(--card-shadow), var(--card-engagement-shadow-focus-within);
}

.card.project ~ .card.engagement {
    margin-block-start: 0;
    margin-inline-start: var(--gutter);
    width: calc(100% - calc(2 * var(--gutter)));
}

.card.resource-collection {
    --card-link-color: var(--interactive, var(--card-resource-collection-color));

    background: var(--card-resource-collection-background);
    box-shadow: var(--card-shadow), var(--card-resource-collection-shadow);
    color: var(--card-resource-collection-color);
    padding-block-start: var(--space-10);
}

.card.resource-collection:hover {
    box-shadow: var(--card-shadow-hover), var(--card-resource-collection-shadow-hover);
}

.card.resource-collection:focus-within {
    box-shadow: var(--card-resource-collection-shadow-focus-within);
}

.card.resource-collection:has(a:active) {
    box-shadow: var(--card-resource-collection-shadow-focus-within);
}

.card.resource {
    box-shadow: var(--card-shadow), var(--card-resource-shadow);
}

.card.resource:hover {
    box-shadow: var(--card-shadow-hover), var(--card-resource-shadow);
}

.card.resource:focus-within {
    box-shadow: var(--card-shadow), var(--card-resource-shadow-focus-within);
}

.card.resource:has(a:active) {
    box-shadow: var(--card-shadow), var(--card-resource-shadow-focus-within);
}

.manage-section .card {
    @apply -mx-6;
}

.manage-section .card:not([hidden]) + .card:not([hidden]) {
    @apply mt-0;
}

.manage-section .card:hover {
    @apply -mx-6;

    background: var(--card-inset-background);
}

.manage-section .card.individual {
    box-shadow: var(--card-individual-shadow);
}

.manage-section .card.individual:hover {
    box-shadow: var(--card-inset-shadow-hover), var(--card-inset-individual-shadow-hover);
}

.manage-section .card.individual:focus-within {
    box-shadow: var(--card-individual-shadow-focus-within), var(--card-inset-individual-shadow-focus-within);
}

.manage-section .card.individual:has(a:active) {
    box-shadow: var(--card-individual-shadow-focus-within), var(--card-inset-individual-shadow-focus-within);
}

.manage-section .card.organization {
    box-shadow: var(--card-organization-shadow);
}

.manage-section .card.organization:hover {
    box-shadow: var(--card-inset-shadow-hover), var(--card-inset-organization-shadow-hover);
}

.manage-section .card.organization:focus-within {
    box-shadow: var(--card-organization-shadow-focus-within), var(--card-inset-organization-shadow-focus-within);
}

.manage-section .card.organization:has(a:active) {
    box-shadow: var(--card-organization-shadow-focus-within), var(--card-inset-organization-shadow-focus-within);
}

.manage-section .card.engagement {
    box-shadow: var(--card-engagement-shadow);
}

.manage-section .card.engagement:hover {
    box-shadow: var(--card-inset-shadow-hover), var(--card-inset-engagement-shadow-hover);
}

.manage-section .card.engagement:focus-within {
    box-shadow: var(--card-engagement-shadow-focus-within), var(--card-inset-engagement-shadow-focus-within);
}

.manage-section .card.engagement:has(a:active) {
    box-shadow: var(--card-engagement-shadow-focus-within), var(--card-inset-engagement-shadow-focus-within);
}
