.columns {
    display: flex;
    flex-direction: column;
    gap: var(--space-5);
}

.column > * + * {
    margin-block-start: var(--space-5);
}

@media (min-width: 1024px) {
    .columns {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
}
