.contact-bar {
    align-items: center;
    background: var(--theme-contact-bar-background, var(--contact-bar-background));
    border-block-end: var(--border-size-1) dashed var(--contact-bar-border);
    color: var(--contact-bar-color);
    display: flex;
    height: var(--size-9);
    padding-inline: var(--size-2);
}

.contact-bar a {
    color: var(--contact-bar-color);
    font-weight: var(--font-weight-4);
}

.contact-bar .wrapper {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0;
    width: 100%;
}

.contact-bar .contact-methods button {
    --button-borderless-outline: var(--ae-grey-2);
    --button-borderless-color-hover: var(--ae-grey-2);
    --button-borderless-background-hover: black;
    --button-borderless-color-focus: var(--ae-grey-2);
    --button-borderless-color-active: var(--ae-grey-1);
}

.contact-bar .contact-methods button[aria-expanded] .indicator {
    transition: transform 0.2s ease-in-out;
}

.contact-bar .contact-methods button[aria-expanded="true"] .indicator {
    transform: rotate(-180deg);
}

.contact-bar .contact-methods > div {
    background: var(--theme-contact-bar-background, var(--contact-bar-background));
    display: flex;
    flex-direction: column;
    left: 0;
    position: absolute;
    top: var(--size-9);
    width: 100vw;
}

.contact-bar .contact-methods > div > div {
    align-items: center;
    border-block-start: var(--border-size-1) solid white;
    display: flex;
    flex-wrap: wrap;
    height: auto;
    min-height: var(--size-9);
    padding: var(--size-3);
}

.contact-bar .exit button {
    --button-primary-background: var(--ae-grey-2);
    --button-primary-border: var(--ae-grey-2);
    --button-primary-color: var(--ae-blue-7);
    --button-primary-outline: var(--ae-grey-2);
    --button-primary-background-hover: var(--ae-grey-1);
    --button-primary-border-hover: var(--ae-grey-1);
    --button-primary-color-hover: var(--ae-blue-8);
    --button-primary-color-active: var(--ae-blue-7);
    --button-primary-background-active: white;
    --button-primary-border-active: white;
}

.contact-bar .exit .cta {
    --cta-background: var(--ae-grey-2);
    --cta-border: var(--ae-grey-2);
    --cta-color: var(--ae-blue-7);
    --cta-outline: var(--ae-grey-2);
    --cta-background-hover: var(--ae-grey-1);
    --cta-border-hover: var(--ae-grey-1);
    --cta-color-hover: var(--ae-blue-8);
    --cta-color-active: var(--ae-blue-7);
    --cta-background-active: white;
    --cta-border-active: white;
}

@media (--lg-n-above) {
    .contact-bar {
        align-items: center;
        display: flex;
        flex-direction: row;
        height: var(--size-9);
    }

    .contact-bar .wrapper {
        align-items: center;
        flex-direction: row;
        gap: var(--size-7);
        justify-content: flex-start;
    }

    .contact-bar .contact-methods > div {
        align-items: center;
        flex-direction: row;
        gap: var(--size-7);
        justify-content: flex-start;
        left: 0;
        position: relative;
        top: 0;
        width: auto;
    }

    .contact-bar .contact-methods > div > div {
        border-block-start: 0;
        padding: 0;
    }

    .contact-bar .exit {
        margin-block-start: 0;
        margin-inline-start: auto;
    }
}
