.card--consultant {
    border: var(--ll-border-medium);
    border-radius: var(--ll-border-radius);
    padding: var(--step-0);
}

.card--consultant .actions {
    display: flex;
    gap: var(--step--2);
}
