.date {
    display: flex;
    flex-wrap: wrap;
    gap: var(--size-2);
}

.date .field--year input {
    width: 6ch;
}

.date .field--day input {
    width: 4ch;
}

.date .field--month select {
    display: block;
    width: auto;
}

.date legend,
.date .field__hint {
    width: 100%;
}
