.defined-term {
    color: var(--defined-term-color);
    font-weight: var(--font-semibold);
    text-decoration: underline;
    text-decoration-style: dotted;
}

.defined-term button {
    align-items: center;
    background-color: transparent;
    border: 0;
    border-radius: 0;
    color: inherit;
    display: inline-flex;
    height: var(--size-5);
    margin-block-start: -0.125em;
    padding: 0;
    vertical-align: middle;
    width: auto;
}

.defined-term button svg {
    height: var(--size-5);
    width: var(--size-5);
}

.defined-term .definition {
    background: var(--definition-background);
    border-radius: var(--radius-1);
    box-shadow: var(--definition-shadow);
    color: var(--definition-color);
    display: block;
    font-weight: var(--font-normal);
    max-width: var(--size-14);
    padding: var(--size-4);
    width: 100%;
}
