hr {
    border-block-end: 0;
    border-block-start: var(--border) solid var(--divider-color);
    border-inline: 0;
    margin-block: var(--space-12) var(--space-8);
}

hr.divider--medium {
    border-block-start-width: var(--border-2);
}

hr.divider--thick {
    border-block-start-width: var(--border-3);
    margin-block: var(--space-16) var(--space-12);
}

hr.divider--thin {
    border-block-start-width: var(--border);
    margin-block: var(--space-16) var(--space-12);
}
