.drawer {
    border-block-start: var(--ll-border-thin);
    border-inline-end: var(--ll-border-thin);
    border-inline-start: var(--ll-border-thin);
    bottom: 0;
    padding: var(--step-0);
    position: fixed;
    right: var(--step-0);
}
