// -----------------------------------------------------------------------------
// This file contains all styles related to the dropdown component.
// -----------------------------------------------------------------------------
.dropdown .dropdown__content {
    background-color: var(--ll-background-color);
    border: var(--ll-border-thin);
    border-radius: var(--ll-border-radius);
    padding: var(--step--5) var(--step--4);
    text-align: start;
}

.dropdown [aria-expanded] .indicator {
    transition: transform 0.2s ease-in-out;
}

.dropdown [aria-expanded="true"] .indicator {
    transform: rotate(-180deg);
}

@media (min-width: 768px) {
    .dropdown {
        position: relative;
    }

    .dropdown .dropdown__content {
        height: auto;
        inset-inline-end: 0;
        position: absolute;
        text-align: end;
        white-space: nowrap;
        width: auto;
    }
}
