/* This file contains all styles related to the dropdown component. */
.dropdown__parent {
    align-items: center;
    border-radius: 0;
    display: flex;
    font-weight: var(--font-weight-6);
    justify-content: flex-start;
}

.dropdown__content {
    margin-block-start: 0;
    padding: 0;
    text-align: start;
}

.dropdown__content a {
    align-items: center;
    display: flex;
    height: var(--size-8);
    padding-inline-start: var(--size-8);
}

.dropdown__parent[aria-expanded] .indicator {
    transition: transform 0.2s ease-in-out;
}

.dropdown__parent[aria-expanded="true"] .indicator {
    transform: rotate(-180deg);
}

@media (min-width: 1024px) {
    .dropdown {
        position: relative;
    }

    .dropdown__content {
        display: block;
        height: auto;
        min-width: var(--size-12);
        position: absolute;
        right: 0;
        text-align: end;
        white-space: nowrap;
    }
}
