.help-bar {
    background: var(--theme-help-bar-background, var(--help-bar-background));
    border-block-end: var(--border) dashed var(--help-bar-border);
    color: var(--help-bar-color);
    height: var(--space-16);
}

.help-bar .center {
    --gutter: var(--space-4);

    align-items: center;
    display: flex;
    height: var(--space-16);
    justify-content: space-between;
}

.help-bar a {
    color: var(--help-bar-color);
    font-weight: var(--font-normal);
}

.help-bar [aria-expanded] {
    --button-borderless-outline: var(--color-grey-2);
    --button-borderless-color-hover: var(--color-grey-2);
    --button-borderless-background-hover: black;
    --button-borderless-color-focus: var(--color-grey-2);
    --button-borderless-color-active: var(--color-grey-1);
}

.help-bar [aria-expanded] .indicator {
    transition: transform 0.2s ease-in-out;
}

.help-bar [aria-expanded="true"] .indicator {
    transform: rotate(-180deg);
}

.help-bar .responsive-switcher {
    --space: 0;

    background: var(--theme-help-bar-background, var(--help-bar-background));
    display: none;
    left: 0;
    position: absolute;
    top: var(--space-16);
    width: 100vw;
}

.help-bar [aria-expanded="true"] + .responsive-switcher {
    display: flex;
    z-index: 1;
}

.help-bar .responsive-switcher div {
    align-items: center;
    border-block-start: var(--border) solid white;
    display: flex;
    flex-wrap: wrap;
    height: auto;
    min-height: var(--space-16);
    padding: var(--space-4);
}

@media (min-width: 60rem) {
    .help-bar {
        height: calc(var(--space-0) + var(--space-16));
    }

    .help-bar [aria-expanded] {
        display: none;
    }

    .help-bar .responsive-switcher {
        --space: var(--space-8);

        display: flex;
        left: 0;
        position: relative;
        top: 0;
        width: auto;
    }

    .help-bar .responsive-switcher div {
        border-block-start: 0;
        padding: 0;
    }

    .help-bar .exit {
        margin-block-start: 0;
        margin-inline-start: auto;
    }
}
