.help-bar {
    background: var(--theme-help-bar-background, var(--help-bar-background));
    border-block-end: var(--border-size-1) dashed var(--help-bar-border);
    color: var(--help-bar-color);
    height: var(--size-9);
}

.help-bar .center {
    --gutter: var(--size-3);

    align-items: center;
    display: flex;
    height: var(--size-9);
    justify-content: space-between;
}

.help-bar a {
    color: var(--help-bar-color);
    font-weight: var(--font-weight-4);
}

.help-bar [aria-expanded] {
    --button-borderless-outline: var(--tae-grey-2);
    --button-borderless-color-hover: var(--tae-grey-2);
    --button-borderless-background-hover: black;
    --button-borderless-color-focus: var(--tae-grey-2);
    --button-borderless-color-active: var(--tae-grey-1);
}

.help-bar [aria-expanded] .indicator {
    transition: transform 0.2s ease-in-out;
}

.help-bar [aria-expanded="true"] .indicator {
    transform: rotate(-180deg);
}

.help-bar .responsive-switcher {
    --space: 0;

    background: var(--theme-help-bar-background, var(--help-bar-background));
    display: none;
    left: 0;
    position: absolute;
    top: var(--size-9);
    width: 100vw;
}

.help-bar [aria-expanded="true"] + .responsive-switcher {
    display: flex;
}

.help-bar .responsive-switcher div {
    align-items: center;
    border-block-start: var(--border-size-1) solid white;
    display: flex;
    flex-wrap: wrap;
    height: auto;
    min-height: var(--size-9);
    padding: var(--size-3);
}

.help-bar .center :last-child button {
    --button-primary-background: var(--tae-grey-2);
    --button-primary-border: var(--tae-grey-2);
    --button-primary-color: var(--tae-blue-7);
    --button-primary-outline: var(--tae-grey-2);
    --button-primary-background-hover: var(--tae-grey-1);
    --button-primary-border-hover: var(--tae-grey-1);
    --button-primary-color-hover: var(--tae-blue-8);
    --button-primary-color-active: var(--tae-blue-7);
    --button-primary-background-active: white;
    --button-primary-border-active: white;
}

.help-bar .cta {
    --cta-background: var(--tae-grey-2);
    --cta-border: var(--tae-grey-2);
    --cta-color: var(--tae-blue-7);
    --cta-outline: var(--tae-grey-2);
    --cta-background-hover: var(--tae-grey-1);
    --cta-border-hover: var(--tae-grey-1);
    --cta-color-hover: var(--tae-blue-8);
    --cta-color-active: var(--tae-blue-7);
    --cta-background-active: white;
    --cta-border-active: white;
}

@media (min-width: 60rem) {
    .help-bar {
        height: var(--size-9);
    }

    .help-bar [aria-expanded] {
        display: none;
    }

    .help-bar .responsive-switcher {
        --space: var(--size-7);

        display: flex;
        left: 0;
        position: relative;
        top: 0;
        width: auto;
    }

    .help-bar .responsive-switcher div {
        border-block-start: 0;
        padding: 0;
    }

    .help-bar .exit {
        margin-block-start: 0;
        margin-inline-start: auto;
    }
}
