form.stack {
    --space: var(--size-5);
}

input,
textarea,
select {
    appearance: none;
    background: transparent;
    border: var(--border-size-2) solid var(--input-border);
    border-radius: var(--radius-2);
    color: var(--input-color);
    display: block;
    font-family: "Open Sans", sans-serif;
    font-size: var(--text-base);
    font-weight: var(--font-normal);
    padding-inline: var(--size-2);
    width: 100%;
}

input {
    height: var(--size-8);
}

.field--error input,
input[aria-invalid="true"] {
    border-color: var(--input-error-border);
    color: var(--input-error-color);
}

input[type="search"] {
    background-image: var(
        --search-icon,
        url('data:image/svg+xml;utf-8,<svg width="18" height="18" fill="none" xmlns="http://www.w3.org/2000/svg"><circle cx="10.501" cy="7.5" r="5.5" stroke="%233F424C" stroke-width="2"/><path stroke="%233F424C" stroke-width="2" stroke-linecap="round" d="M6.612 11.803 1.415 17"/></svg>')
    );
    background-position: left var(--size-2) center;
    background-repeat: no-repeat;
    padding-inline-start: var(--size-7);
}

input[type="search"]::-webkit-search-cancel-button {
    appearance: none;
    background: var(
        --search-clear-icon,
        url('data:image/svg+xml;utf-8,<svg width="13" height="12" fill="none" xmlns="http://www.w3.org/2000/svg"><path transform="matrix(.72331 -.69052 .72331 .69052 2 12)" stroke="%233F424C" stroke-width="2" stroke-linecap="round" d="M1-1h13.206"/><path transform="matrix(-.72331 -.69052 .72331 -.69052 13 10.5)" stroke="%233F424C" stroke-width="2" stroke-linecap="round" d="M1-1h13.206"/></svg>')
    );
    background-position: center;
    background-repeat: no-repeat;
    height: var(--size-7);
    opacity: 0;
    pointer-events: none;
    width: var(--size-7);
}

input[type="search"]:focus::-webkit-search-cancel-button {
    opacity: 1;
    pointer-events: all;
}

textarea {
    height: var(--size-12);
    padding-block: var(--size-2);
    resize: vertical;
}

.field--error textarea,
textarea[aria-invalid="true"] {
    border-color: var(--input-error-border);
    color: var(--input-error-color);
}

select {
    background-image: var(
        --select-chevron,
        url('data:image/svg+xml;utf-8,<svg width="14" height="13" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="m1 6 6 6 6-6" stroke="%233F424C" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/></svg>')
    );
    background-position: right var(--size-5) center;
    background-repeat: no-repeat;
    height: var(--size-8);
    padding-inline-end: var(--size-8);
}

select[aria-invalid="true"] {
    background-image: var(
        --select-error-chevron,
        url('data:image/svg+xml;utf-8,<svg width="14" height="13" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="m1 6 6 6 6-6" stroke="%23922020" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/></svg>')
    );
    border-color: var(--input-error-border);
    color: var(--input-error-color);
}

input[type="checkbox"] {
    border: var(--border-size-2) solid var(--input-border);
    border-radius: var(--radius-1);
    display: inline-block;
    height: var(--size-4);
    margin-block-end: var(--size-00);
    padding-inline: 0;
    width: var(--size-4);
}

.field--error input[type="checkbox"],
input[type="checkbox"][aria-invalid="true"] {
    border-color: var(--input-error-border);
}

input[type="checkbox"]:checked {
    background: var(--checkbox-checked-background);
    background-image: var(
        --checkbox-checkmark,
        url('data:image/svg+xml;utf-8,<svg width="14" height="12" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M1 5.402 5.364 10 13 1" stroke="%23ffffff" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/></svg>')
    );
    background-position: center;
    background-repeat: no-repeat;
    border-color: var(--checkbox-checked-background);
}

input[type="checkbox"]:checked[aria-invalid="true"] {
    background-color: var(--input-error-color);
    border-color: var(--input-error-border);
}

input[type="radio"] {
    border: var(--border-size-2) solid var(--input-border);
    border-radius: var(--radius-round);
    display: inline-block;
    height: var(--size-4);
    margin-block-end: var(--size-00);
    padding-inline: 0;
    width: var(--size-4);
}

.field--error input[type="radio"],
input[type="radio"][aria-invalid="true"] {
    border-color: var(--input-error-border);
}

input[type="radio"]:checked {
    background: var(--radio-checked-background);
    background-position: center;
    background-repeat: no-repeat;
    border-color: var(--radio-checked-border);
    box-shadow: inset 0 0 0 calc(var(--size-1) * 0.75) var(--body-background);
}

input[type="radio"]:checked[aria-invalid="true"] {
    background-color: var(--input-error-color);
    border-color: var(--input-error-border);
}

/** Labels **/
label {
    font-weight: var(--font-bold);
}

input[type="checkbox"] + label,
input[type="radio"] + label {
    font-weight: var(--font-semibold);
}

/** Fields and fieldsets **/
fieldset {
    border: 0;
    margin-inline: 0;
    padding: 0;
}

.stack fieldset + fieldset {
    margin-block-start: var(--size-8);
}

.password {
    align-items: flex-end;
    display: flex;
    flex-direction: column;
}

.password button {
    min-width: 25%;
    width: auto;
}

.password .field {
    background-color: var(--color-grey-2);
    border-radius: var(--radius-2);
    padding: var(--size-2);
}

.field__subfield {
    margin-block: var(--size-3);
    padding-inline-start: var(--size-6);
}

legend {
    color: var(--heading-color);
    font-family: var(--font-base);
    font-size: var(--text-lg);
    font-size: var(--text-fluid-lg);
    font-weight: var(--font-semibold);
}

@media (min-width: 768px) {
    legend {
        font-size: var(--text-xl);
        font-size: var(--text-fluid-lg);
    }
}

@media (min-width: 1200px) {
    legend {
        font-size: var(--text-2xl);
        font-size: var(--text-fluid-lg);
        font-weight: var(--font-normal);
    }
}

/** Hints **/
.field__hint {
    color: var(--hint-color);
    font-style: italic;
}

[type="radio"] ~ .field__hint {
    margin-inline-start: var(--size-6);
}

/** Errors **/
.field--error,
.field--error .field__hint,
.field--error legend,
.field__error {
    color: var(--input-error-color);
}

.field__error {
    align-items: center;
    display: flex;
    flex-direction: row;
    font-style: italic;
    font-weight: var(--font-semibold);
    gap: var(--size-2);
    justify-content: flex-start;
    margin-block-start: var(--size-1);
}

.field__error svg {
    height: var(--size-3);
}
