.interpretation {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
}

.interpretation.interpretation--center {
    align-items: center;
}

.interpretation.interpretation--end {
    align-items: flex-end;
}

.interpretation.interpretation--start {
    align-items: flex-start;
}
