a {
    color: var(--link-color);
    font-weight: var(--font-weight-7);
}

a.cta {
    align-items: center;
    appearance: none;
    border-radius: var(--radius-2);
    border-style: solid;
    border-width: var(--border-size-2);
    display: flex;
    font-family: var(--ae-font-family-base);
    font-size: var(--font-size-1);
    font-weight: var(--font-weight-6);
    gap: var(--size-2);
    height: var(--size-8);
    justify-content: center;
    padding-inline: var(--size-3);
    width: 100%;

    svg {
        height: var(--size-3);
    }
}

a.cta.cta--inverse {
    background-color: var(--ae-grey-2);
    color: var(--ae-blue-7);
}
