a {
    border-radius: var(--radius-xs);
    color: var(--link-color);
    font-weight: var(--font-semibold);
    position: relative;
}

a:hover {
    color: var(--link-color-hover);
}

a:focus {
    box-shadow: 0 0 0 var(--border-2) var(--link-outline-focus);
    outline: 1px solid transparent;
    text-decoration: none;
}

a:active {
    background: var(--link-background-active);
    box-shadow: 0 0 0 var(--border-2) var(--link-background-active);
    color: var(--link-color-active);
    text-decoration: none;
}

a:visited {
    color: var(--link-color-visited);
}

a:active:visited {
    color: var(--link-color-active);
}

.dark a,
.darker a {
    color: var(--link-dark-color);
}

.dark a:hover,
.darker a:hover {
    color: var(--link-dark-color-hover);
}

.dark a:focus,
.darker a:focus {
    box-shadow: 0 0 0 var(--border-2) var(--link-dark-outline-focus);
    outline: 1px solid transparent;
}

.dark a:active,
.darker a:active {
    background: var(--link-dark-background-active);
    box-shadow: 0 0 0 var(--border-2) var(--link-dark-background-active);
    color: var(--link-dark-color-active);
}

.dark a:visited,
.darker a:visited {
    color: var(--link-dark-color-visited);
}

.dark a:active:visited,
.darker a:active:visited {
    color: var(--link-dark-color-active);
}

a.cta {
    align-items: center;
    appearance: none;
    background: var(--cta-background);
    border: var(--border-2) solid;
    border-color: var(--cta-border);
    border-radius: var(--radius-sm);
    color: var(--cta-color);
    display: inline-flex;
    flex-wrap: wrap;
    font-family: var(--font-base);
    font-size: var(--text-base);
    font-weight: var(--font-semibold);
    gap: var(--space-2);
    justify-content: center;
    min-height: calc(var(--space-12) - var(--space-1));
    padding-block: var(--space-2);
    padding-inline: var(--space-4);
    width: auto;
}

a.cta.disabled {
    background: transparent;
    border: var(--border-2) dashed;
    border-color: var(--cta-border-hover);
    color: var(--cta-color-hover);
    pointer-events: none;
}

a.cta:hover {
    background: var(--cta-background-hover);
    border-color: var(--cta-border-hover);
    color: var(--cta-color-hover);
    text-decoration: underline;
}

a.cta:focus {
    @apply ring-2 ring-offset-3 ring-offset-bg;

    --tw-ring-color: var(--cta-outline);

    outline: transparent;
    text-decoration: underline;
}

a.cta:active,
a.cta:focus:active {
    background: var(--cta-background-active);
    border-color: var(--cta-border-active);
    box-shadow: none;
    color: var(--cta-color-active);
    text-decoration: underline;
}

a.cta.secondary {
    background: var(--cta-secondary-background);
    border-color: var(--cta-secondary-border);
    color: var(--cta-secondary-color);
}

a.cta.secondary:hover {
    background: var(--cta-secondary-background-hover);
    border-color: var(--cta-secondary-border-hover);
    color: var(--cta-secondary-color-hover);
}

a.cta.secondary:focus {
    @apply ring-2 ring-offset-3 ring-offset-bg;

    --tw-ring-color: var(--cta-secondary-outline);
}

a.cta.secondary:active,
a.cta.secondary:focus:active {
    background: var(--cta-secondary-background-active);
    border-color: var(--cta-secondary-border-active);
    box-shadow: none;
    color: var(--cta-secondary-color-active);
}

.dark a.cta,
.darker a.cta {
    background: var(--cta-dark-background);
    border: var(--border-2) solid var(--cta-dark-border);
    color: var(--cta-dark-color);
}

.darker a.cta.disabled {
    background: transparent;
    background: var(--cta-dark-background-hover);
    border-color: var(--cta-dark-border-hover);
    color: var(--cta-dark-color-hover);
    pointer-events: none;
}

.dark a.cta:hover,
.darker a.cta:hover {
    background: var(--cta-dark-background-hover);
    border-color: var(--cta-dark-border-hover);
    color: var(--cta-dark-color-hover);
}

.dark a.cta:focus {
    --bg: var(--content-dark-background);
}

.darker a.cta:focus {
    --bg: var(--content-darker-background);
}

.dark a.cta:active,
.darker a.cta:active {
    background: var(--cta-dark-background-active);
    border-color: var(--cta-dark-border-active);
    color: var(--cta-dark-color-active);
}
