.link-list a {
    align-items: center;
    border-block-start: var(--border) solid currentcolor;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-block: var(--space-5);
    text-decoration: none;
    width: 100%;
}

.link-list a::after {
    background-image: var(
        --link-list-chevron,
        url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="%233842aa"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5l7 7-7 7"></path></svg>')
    );
    background-repeat: no-repeat;
    content: "";
    display: inline-block;
    height: var(--space-5);
    width: var(--space-5);
}
