a {
    border-radius: var(--radius-1);
    color: var(--link-color);
    font-weight: var(--font-weight-7);
    position: relative;
}

a:hover {
    color: var(--link-color-hover);
}

a:focus {
    box-shadow: 0 0 0 var(--border-size-2) var(--link-outline-focus);
    outline: none;
    text-decoration: none;
}

a:active {
    background: var(--link-background-active);
    box-shadow: 0 0 0 var(--border-size-2) var(--link-background-active);
    color: var(--link-color-active);
    text-decoration: none;
}

a:visited {
    color: var(--link-color-visited);
}

.dark a {
    color: var(--link-dark-color);
}

.dark a:hover {
    color: var(--link-dark-color-hover);
}

.dark a:focus {
    box-shadow: 0 0 0 var(--border-size-2) var(--link-dark-outline-focus);
    outline: none;
}

.dark a:active {
    background: var(--link-dark-background-active);
    box-shadow: 0 0 0 var(--border-size-2) var(--link-dark-background-active);
    color: var(--link-dark-color-active);
}

.dark a:visited {
    color: var(--link-dark-color-visited);
}

a.cta {
    align-items: center;
    appearance: none;
    background: var(--cta-background);
    border: var(--border-size-2) solid var(--cta-border);
    border-radius: var(--radius-2);
    color: var(--cta-color);
    display: flex;
    font-family: var(--tae-font-family-base);
    font-size: var(--font-size-1);
    font-weight: var(--font-weight-6);
    gap: var(--size-2);
    height: calc(var(--size-8) - var(--size-1));
    justify-content: center;
    padding-inline: var(--size-3);
    width: 100%;
}

a.cta svg {
    height: var(--size-3);
}

a.cta:hover {
    background: var(--cta-background-hover);
    border-color: var(--cta-border-hover);
    color: var(--cta-color-hover);
}

a.cta:focus {
    outline: var(--cta-outline) solid calc(var(--size-1) / 2);
    outline-offset: calc(var(--size-1) / 2);
}

a.cta:active {
    background: var(--cta-background-active);
    border-color: var(--cta-border-active);
    color: var(--cta-color-active);
}

a.cta:focus:active {
    outline: none;
}

.dark a.cta {
    background: var(--cta-dark-background);
    border: var(--border-size-2) solid var(--cta-dark-border);
    color: var(--cta-dark-color);
}

.dark a.cta:hover {
    background: var(--cta-dark-background-hover);
    border-color: var(--cta-dark-border-hover);
    color: var(--cta-dark-color-hover);
}

.dark a.cta:focus {
    outline: var(--cta-dark-outline) solid calc(var(--size-1) / 2);
}

.dark a.cta:active {
    background: var(--cta-dark-background-active);
    border-color: var(--cta-dark-border-active);
    color: var(--cta-dark-color-active);
}

.dark a.cta:focus:active {
    outline: none;
}
