/* This file contains all styles related to the modal component. */
.modal-wrapper {
    background: rgb(0 0 0 / 75%);
    height: 100vh;
    left: 0;
    margin-block-start: 0;
    position: fixed;
    top: 0;
    width: 100vw;
    z-index: 999;
}

.modal {
    background: white;
    border: var(--border);
    border-radius: var(--radius-sm);
    display: block;
    left: var(--space-4);
    margin-block-start: 0;
    padding: var(--space-4);
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    width: calc(100vw - (2 * var(--space-4)));
    z-index: 999;
}

@media (min-width: 48rem) {
    .modal {
        left: 50%;
        max-width: var(--max-w-prose);
        top: 50%;
        transform: translate(-50%, -50%);
        width: 100%;
    }
}
