// -----------------------------------------------------------------------------
// This file contains all styles related to the navigation component.
// -----------------------------------------------------------------------------
nav {
    display: flex;
    flex-direction: column;
    margin-block-start: var(--step-2);
}

nav ul {
    margin: 0;
    padding-inline-start: 0;
}

nav > * + * {
    margin-block-start: var(--step--2);
}

@media (min-width: 768px) {
    nav {
        flex-direction: row;
        margin-block-start: 0;
        margin-inline-start: auto;
    }

    nav > * + * {
        margin-block-start: 0;
        margin-inline-start: var(--step--2);
    }

    nav ul {
        display: flex;
        flex-direction: row;
    }

    nav ul > li + li {
        margin-inline-start: var(--step--2);
    }

    .dropdown {
        position: relative;
    }

    .dropdown .dropdown__content {
        position: absolute;
        text-align: start;
    }
}
