/* This file contains all styles related to the navigation component. */
.nav {
    align-items: center;
    display: flex;
    gap: var(--space-4);
    justify-content: flex-start;
}

.nav > :nth-child(2) {
    margin-inline-start: auto;
}

@media (max-width: 37.4375rem) {
    .nav button span {
        clip: rect(0 0 0 0);
        clip-path: inset(50%);
        height: 1px;
        overflow: hidden;
        position: absolute;
        white-space: nowrap;
        width: 1px;
    }
}

.theme-switcher input {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}

.nav-link,
.nav-link:visited,
.theme-switcher label {
    align-items: center;
    background: var(--nav-background-mobile);
    border-block-end: var(--border) solid var(--nav-border-mobile);
    border-block-start: 0;
    border-inline: 0;
    color: var(--nav-color-mobile);
    display: flex;
    font-weight: var(--font-semibold);
    gap: var(--space-1);
    min-height: var(--space-12);
    padding-inline: var(--space-4);
    text-decoration: none;
}

.nav-link:hover,
.theme-switcher input:hover + label {
    background: var(--nav-background-hover-mobile);
    box-shadow: inset 3px 0 0 0 var(--nav-indicator-mobile);
    color: var(--nav-color-hover-mobile);
}

.nav-link:focus,
.theme-switcher input:focus + label {
    background: var(--nav-background-focus-mobile);
    box-shadow: inset 0 0 0 3px var(--nav-indicator-mobile);
    outline: 1px solid transparent;
}

.nav-link:active .theme-switcher input:active + label {
    background: var(--nav-background-active-mobile);
    box-shadow: none;
    color: var(--nav-color-active-mobile);
}

.nav-link[aria-current] .theme-switcher input:checked + label {
    box-shadow: inset 6px 0 0 0 var(--nav-current-color);
}

.nav-link[aria-current]:hover .theme-switcher input:checked:hover + label {
    box-shadow: inset 3px 0 0 0 var(--nav-current-color);
}

.theme-switcher input:checked:focus + label {
    box-shadow: inset 0 0 0 3px var(--nav-current-color);
}

.with-sidebar .nav-link {
    background: transparent;
    border: 0;
    border-radius: var(--radius-xs);
    color: var(--link-color);
    display: inline;
    font-weight: var(--font-semibold);
    padding-inline: 0;
    text-decoration: underline;
}

.with-sidebar .nav-link:hover {
    background: transparent;
    box-shadow: none;
    color: var(--link-color-hover);
}

.with-sidebar .nav-link:focus {
    background: transparent;
    box-shadow: 0 0 0 var(--border-2) var(--link-outline-focus);
    outline: 1px solid transparent;
    text-decoration: none;
}

.with-sidebar .nav-link:active {
    background: var(--link-background-active);
    box-shadow: 0 0 0 var(--border-2) var(--link-background-active);
    color: var(--link-color-active);
    text-decoration: none;
}

.with-sidebar .nav-link[aria-current] {
    box-shadow: none;
    font-weight: var(--font-bold);
    text-decoration-color: var(--nav-current-color);
    text-decoration-thickness: var(--border-2);
}

.with-sidebar .nav-link[aria-current]:hover {
    box-shadow: none;
}

.with-sidebar .nav-link[aria-current]:focus {
    box-shadow: 0 0 0 var(--border-2) var(--nav-current-color);
}

button.nav-button {
    background: inherit;
    border: 0;
    border-radius: var(--radius-sm);
    box-shadow: none;
    color: var(--btn-borderless-color);
    gap: var(--space-2);
    height: calc(var(--space-12) - var(--space-1));
    justify-content: center;
    padding-inline: var(--space-4);
    width: auto;
}

button.nav-button:hover {
    background: var(--btn-borderless-background-hover);
    color: var(--btn-borderless-color-hover);
}

button.nav-button:focus {
    color: var(--btn-borderless-color-focus);
    outline: var(--btn-borderless-outline) solid calc(var(--space-1) / 2);
    outline-offset: calc(var(--space-1) / 2);
}

button.nav-button:active {
    color: var(--btn-borderless-color-active);
}

button.nav-button svg {
    height: 1.25em;
}

button.nav-button .indicator {
    display: none;
}

.nav [aria-expanded="false"] + * {
    display: none;
}

.languages ul ul,
.themes ul ul {
    border-block-start: var(--border) solid var(--nav-border-mobile);
    left: 0;
    margin-block-start: 0;
    position: absolute;
    top: calc(var(--space-12) + var(--space-20) + var(--space-6));
    width: 100vw;
}

.primary ul {
    background: var(--nav-background-mobile);
    border-block-start: var(--border) solid var(--nav-border-mobile);
    color: var(--color-grey-2);
    display: flex;
    flex-direction: column;
    left: 0;
    margin-block: 0;
    position: absolute;
    top: calc(var(--space-12) + var(--space-20) + var(--space-6));
    width: 100vw;
    z-index: 1;
}

@media (min-width: 48rem) {
    .primary ul,
    .languages ul ul,
    .themes ul ul {
        top: calc(var(--space-16) + var(--space-20) + var(--space-6));
    }
}

@media (min-width: 64rem) {
    .nav {
        flex-wrap: wrap;
        height: calc(var(--space-20) + var(--space-16) + var(--space-6));
    }

    .primary {
        height: var(--space-12);
        width: 100%;
    }

    .primary::before {
        border-block-start: var(--border) solid var(--nav-border);
        content: "";
        display: block;
        left: 0;
        position: absolute;
        top: calc(var(--space-16) + var(--space-20) + var(--space-6) + var(--space-4));
        width: 100vw;
        z-index: 1;
    }

    .primary [aria-expanded] {
        display: none;
    }

    .primary [aria-expanded="false"] + * {
        display: flex;
    }

    .primary ul {
        background: transparent;
        border-block-start: 0;
        display: flex;
        flex-direction: row;
        height: inherit;
        justify-content: flex-start;
        left: 0;
        position: relative;
        top: 0;
        width: 100%;
    }

    .languages ul,
    .themes ul {
        margin-block: 0;
        position: relative;
    }

    .languages ul ul,
    .themes ul ul {
        border-block-start: 0;
        box-shadow: var(--nav-dropdown-shadow);
        left: auto;
        right: 0;
        top: calc(var(--space-5) * 2 + var(--space-16));
        width: var(--space-56);
        z-index: 2;
    }

    .languages button.nav-button,
    .themes button.nav-button {
        height: calc(var(--space-5) * 2 + var(--space-16));
    }

    .nav-link,
    .nav-link:visited,
    button.nav-button,
    .theme-switcher label {
        background: var(--nav-parent-background);
        border-block-end: 0;
        border-block-start: unset;
        border-radius: 0;
        color: var(--nav-color);
        height: 100%;
        min-height: var(--space-12);
    }

    .nav-link:hover,
    button.nav-button:hover,
    .theme-switcher input:hover + label {
        background: var(--nav-parent-background-hover);
        box-shadow: inset 0 -3px 0 0 var(--nav-indicator);
        color: var(--nav-color-hover);
    }

    .nav-link:focus,
    button.nav-button:focus,
    .theme-switcher input:focus + label {
        background: var(--nav-parent-background-focus);
        box-shadow: inset 0 0 0 3px var(--nav-indicator);
        color: var(--nav-color-focus);
        outline: 1px solid transparent;
    }

    .nav-link:active,
    button.nav-button:active,
    .nav [aria-expanded="true"] .theme-switcher input:active + label {
        background: var(--nav-parent-background-active);
        box-shadow: none;
        color: var(--nav-color-active);
    }

    .nav [aria-expanded="true"] {
        box-shadow: inset 0 -3px 0 0 var(--nav-indicator);
    }

    .nav-link[aria-current],
    .theme-switcher input:active + label {
        box-shadow: inset 0 -6px 0 0 var(--nav-current-color);
    }

    .nav-link[aria-current]:hover,
    .theme-switcher input:checked:hover + label {
        box-shadow: inset 0 -3px 0 0 var(--nav-indicator);
    }

    .nav-link[aria-current]:focus,
    .theme-switcher input:checked:focus + label {
        box-shadow: inset 0 0 0 3px var(--nav-indicator);
    }

    .nav-link[aria-current]:active,
    .theme-switcher input:checked:active + label {
        box-shadow: none;
    }

    .dropdown .nav-link:hover,
    .theme-switcher input:hover + label {
        box-shadow: inset 3px 0 0 0 var(--nav-indicator);
    }

    .dropdown .nav-link:focus,
    .theme-switcher input:focus + label {
        box-shadow: inset 0 0 0 3px var(--nav-indicator);
    }

    .dropdown .nav-link:active,
    .theme-switcher input:active + label {
        box-shadow: none;
    }

    .dropdown .nav-link[aria-current],
    .theme-switcher input:checked + label {
        box-shadow: inset 6px 0 0 0 var(--nav-current-color);
    }

    .dropdown .nav-link[aria-current]:hover,
    .theme-switcher input:checked:hover + label {
        box-shadow: inset 3px 0 0 0 var(--nav-indicator);
    }

    .dropdown .nav-link[aria-current]:focus,
    .theme-switcher input:checked:focus + label {
        box-shadow: inset 0 0 0 3px var(--nav-indicator);
    }

    .dropdown .nav-link[aria-current]:active,
    .theme-switcher input:checked:active + label {
        box-shadow: none;
    }

    .account {
        margin-inline-start: auto;
    }
}
