// -----------------------------------------------------------------------------
// This file contains all styles related to the navigation component.
// -----------------------------------------------------------------------------
nav {
    display: flex;
    flex-direction: column;
    height: var(--size-11);
}

nav > * + * {
    margin-block-start: var(--step--2);
}

nav.secondary + * {
    margin-block-start: var(--step-3);
}

nav ul {
    margin: 0;
    padding-inline-start: 0;
}

nav ul > li {
    padding-inline-start: 0;
}

nav ul > li::before {
    display: none;
}

nav a,
nav button {
    align-items: center;
    color: var(--theme-nav-color, var(--ae-graphite-7));
    display: flex;
    font-weight: var(--font-weight-6);
    height: 100%;
    padding-inline: var(--size-3);
    text-decoration: none;

    &:hover {
        background: var(--theme-body-background, var(--ae-grey-1));
        box-shadow: inset 0 -3px 0 0 var(--theme-nav-color, var(--ae-blue-7));
    }

    &:focus {
        background: var(--theme-body-background, var(--ae-grey-1));
        box-shadow: inset 0 0 0 3px var(--theme-nav-color, var(--ae-blue-7));
        outline: none;
    }

    &:active {
        background: var(--theme-body-background, var(--ae-grey-2));
        box-shadow: none;
    }
}

nav a[aria-current] {
    box-shadow: inset 0 -6px 0 0 var(--theme-nav-current-color, var(--ae-lavender-3));

    &:hover {
        background: var(--theme-body-background, var(--ae-grey-1));
        box-shadow: inset 0 -3px 0 0 var(--theme-nav-color, var(--ae-blue-7));
    }

    &:focus {
        background: var(--theme-body-background, var(--ae-grey-1));
        box-shadow: inset 0 0 0 3px var(--theme-nav-color, var(--ae-blue-7));
        outline: none;
    }

    &:active {
        background: var(--theme-body-background, var(--ae-grey-2));
        box-shadow: none;
    }
}

nav .dropdown a {
    // TODO.
}

nav .dropdown a[aria-current] {
    // TODO.
}

@media (--lg-n-above) {
    nav {
        flex-direction: row;
        margin-block-start: 0;
        margin-inline-start: auto;
    }

    .has-nav-secondary {
        display: grid;
        gap: var(--step-3);
        grid-template-columns: 25% 75%;
    }

    .has-nav-secondary nav.secondary {
        margin-inline-start: 0;
    }

    nav > * + * {
        margin-block-start: 0;
        margin-inline-start: var(--step--2);
    }

    nav.secondary + * {
        margin-block-start: 0;
    }

    nav ul {
        display: flex;
        flex-direction: row;
    }

    nav.secondary ul {
        flex-direction: column;
    }

    nav ul > li + li {
        margin-inline-start: var(--step--2);
    }

    nav.secondary ul > li + li {
        margin-inline-start: 0;
    }
}
