// -----------------------------------------------------------------------------
// This file contains all styles related to the navigation component.
// -----------------------------------------------------------------------------
nav {
    display: flex;
    flex-direction: column;
    margin-block-start: var(--step-2);
}

nav ul {
    margin: 0;
    padding-inline-start: 0;
}

nav ul > li {
    padding-inline-start: 0;
}

nav ul > li::before {
    display: none;
}

nav > * + * {
    margin-block-start: var(--step--2);
}

nav .link {
    align-items: center;
    display: flex;
    flex-direction: row;
}

nav .icon {
    height: 1em;
    margin-inline-end: 0.125em;
    width: 1em;
}

@media (min-width: 1024px) {
    nav {
        flex-direction: row;
        margin-block-start: 0;
        margin-inline-start: auto;
    }

    .has-nav-secondary {
        display: grid;
        gap: var(--step-3);
        grid-template-columns: 25% 75%;
    }

    .has-nav-secondary nav.secondary {
        margin-inline-start: 0;
    }

    nav > * + * {
        margin-block-start: 0;
        margin-inline-start: var(--step--2);
    }

    nav ul {
        display: flex;
        flex-direction: row;
    }

    nav.secondary ul {
        flex-direction: column;
    }

    nav ul > li + li {
        margin-inline-start: var(--step--2);
    }

    nav.secondary ul > li + li {
        margin-inline-start: 0;
    }
}
