.projects {
    display: flex;
    flex-wrap: wrap;
    margin-block-start: 0;
}

.card--project {
    border: var(--ll-border-medium);
    border-radius: var(--ll-border-radius);
    padding: var(--step-0);
}

.filter-impact--hide,
.filter-status--hide {
    display: none;
}
