.projects {
    display: flex;
    flex-wrap: wrap;
    margin-block-start: 0;
}

.card--project {
    border: var(--ll-border-medium);
    border-radius: var(--ll-border-radius);
    margin-block-start: var(--step-0);
    padding: var(--step-0);
    width: calc(50% - var(--step-0));
}

.card--project:nth-child(2n + 1) {
    margin-inline-end: var(--step-0);
}
