.projects {
    display: flex;
    flex-wrap: wrap;
    margin-block-start: 0;
}

.card--project {
    border: var(--border-3) solid;
    padding: var(--space-5);
}

.filter-impact--hide,
.filter-status--hide {
    display: none;
}
