.correct-answer,
.correct-answer svg {
    color: var(--theme-color-success, var(--color-green-7));
}

.wrong-answer,
.wrong-answer svg {
    color: var(--theme-color-error, var(--color-red-8));
}

.question > .banner p {
    justify-content: flex-start;
}
