
// -----------------------------------------------------------------------------
// This file contains all styles related to the radio button component.
// -----------------------------------------------------------------------------
input[type="radio"] {
    clip: rect(0 0 0 0);
    -webkit-clip-path: inset(50%);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}

input[type="radio"] + label::before {
    align-items: center;
    border: var(--ll-border-medium);
    border-radius: 50%;
    content: "\00a0";
    display: inline-flex;
    height: var(--step-1);
    justify-content: center;
    -webkit-margin-after: calc(var(--step--5) * -1);
    margin-block-end: calc(var(--step--5) * -1);
    -webkit-margin-end: var(--step--5);
    margin-inline-end: var(--step--5);
    width: var(--step-1);
}

input[type="radio"]:checked + label::before {
    content: "\25CF";
}
