#skip-to-content {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}

#skip-to-content:focus {
    clip: auto;
    clip-path: none;
    height: calc(var(--space-12) - var(--space-1));
    left: var(--space-2);
    overflow: auto;
    top: var(--space-2);
    width: auto;
    z-index: 1;
}
