#skip-to-content {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}

#skip-to-content:focus {
    clip: auto;
    clip-path: none;
    color: var(--ll-text-color);
    height: auto;
    left: var(--step--1);
    overflow: auto;
    top: var(--step--1);
    width: auto;
}
