/* This file contains all styles related to the navigation component. */
[role="region"][aria-labelledby][tabindex] {
    overflow: auto;
}

[role="region"][aria-labelledby][tabindex]:focus {
    outline: var(--border) solid transparent;
}

table {
    border-collapse: collapse;
    min-width: 100%;
}

th,
td {
    padding: var(--space-2) var(--space-4);
    text-align: start;
}

td:first-of-type,
th:first-of-type {
    padding-inline-start: 0;
}

td:last-of-type,
th:last-of-type {
    padding-inline-end: 0;
}

tbody tr {
    border-block-start: var(--border) solid var(--color-graphite-6);
}
