.tags {
    display: flex;
    flex-wrap: wrap;
    gap: var(--space-4);
}

.tag {
    align-items: center;
    background: var(--tag-background);
    border: var(--border-2) solid var(--tag-border);
    border-radius: var(--radius-md);
    color: var(--tag-color);
    display: flex;
    flex-direction: row;
    font-weight: var(--font-semibold);
    min-height: var(--space-8);
    padding-block: var(--space-1);
    padding-inline: var(--space-4);
}

.tag--link {
    align-items: center;
    background: var(--tag-link-background);
    border: var(--border-2) solid var(--tag-link-border);
    border-radius: var(--radius-md);
    color: var(--tag-link-color);
    display: flex;
    flex-direction: row;
    font-weight: var(--font-semibold);
    min-height: var(--space-8);
    padding-block: var(--space-1);
    padding-inline: var(--space-4);
}

.tag--button {
    align-items: center;
    background: var(--tag-button-background);
    border: var(--border-2) solid var(--tag-button-border);
    border-radius: var(--radius-md);
    color: var(--tag-button-color);
    display: flex;
    flex-direction: row;
    font-weight: var(--font-semibold);
    min-height: var(--space-8);
    padding-block: var(--space-1);
    padding-inline: var(--space-4);
}
