.tags {
    display: flex;
    flex-wrap: wrap;
    gap: var(--step-0);

    li {
        background: var(--ll-accent-background-color);
        border-radius: var(--step-0);
        padding: var(--step--5) var(--step--1);
    }
}
