@import url("../../../../vendor/filament/filament/resources/css/theme.css");

/* stylelint-disable-next-line at-rule-no-unknown */
@source '../../../../app/Filament';
/* stylelint-disable-next-line at-rule-no-unknown */
@source '../../../../resources/views/filament';

.logo {
    display: block;
}

.logo.logo--themeable {
    display: none;
}

.dark .logo {
    display: none;
}

.dark .logo.logo--themeable {
    @apply text-white;

    display: block;
}
