.scores__score {
    align-items: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.score__value {
    width: 35%;
}

.score__indicator {
    margin-inline-end: var(--step--3);
}

@media (min-width: 1024px) {
    .score__value {
        width: 100%;
    }

    .scores,
    .comments {
        column-gap: var(--step-5);
    }
}

@media (min-width: 1200px) {
    .score__value {
        width: 40%;
    }
}
