name: Analyze PHP code

on:
  push:
    branches: [dev, staging, production]
  pull_request:
    branches: [dev, staging, production]

jobs:
  php-analyze:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3
      - uses: technote-space/get-diff-action@v6
        id: git-diff
        with:
          patterns: |
            composer.json
            composer.lock
            **/*.php
      - uses: shivammathur/setup-php@v2
        if: steps.git-diff.outputs.diff
        with:
          php-version: "8.1"
      - name: Cache Composer packages
        if: steps.git-diff.outputs.diff
        uses: actions/cache@v3
        with:
          path: vendor
          key: php-${{ hashFiles('**/composer.lock') }}
      - name: Install dependencies
        if: steps.git-diff.outputs.diff
        run: composer install -q --no-ansi --no-interaction --no-scripts --no-progress --prefer-dist
      - name: Generate key
        if: steps.git-diff.outputs.diff
        run: echo "CIPHERSWEET_KEY=\"$(openssl rand -hex 32)\"" >> .env
      - name: Perform static analysis
        if: steps.git-diff.outputs.diff
        run: composer analyze
