name: Lint JS and CSS assets

on:
  push:
    branches: [dev, staging, production]
  pull_request:
    branches: [dev, staging, production]

jobs:
  asset-lint:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        php: [8.1]

    steps:
      - uses: actions/checkout@v4
      - uses: technote-space/get-diff-action@v6
        id: git-diff
        with:
          patterns: |
            package.json
            package-lock.json
            **/*.css
            **/*.js"
      - uses: shivammathur/setup-php@v2
        if: steps.git-diff.outputs.diff
        with:
          php-version: ${{ matrix.php }}
          coverage: none
      - name: Cache Composer packages
        if: steps.git-diff.outputs.diff
        uses: actions/cache@v3
        with:
          path: vendor
          key: php-${{ hashFiles('**/composer.lock') }}
      - name: Install dependencies
        if: steps.git-diff.outputs.diff
        run: composer install -q --no-ansi --no-interaction --no-scripts --no-progress --prefer-dist
      - uses: actions/setup-node@v3
        if: steps.git-diff.outputs.diff
        with:
          node-version-file: ".nvmrc"
      - name: Cache node modules
        if: steps.git-diff.outputs.diff
        uses: actions/cache@v3
        with:
          path: node_modules
          key: ${{ runner.OS }}-build-${{ hashFiles('**/package-lock.json') }}
      - name: Install dependencies
        if: steps.git-diff.outputs.diff
        run: npm install
        env:
          CI: true
      - name: Lint files
        if: steps.git-diff.outputs.diff
        run: npm run lint
