name: Run Laravel tests

on:
  push:
    branches: [ dev, prototype ]
    paths:
    - 'composer.json'
    - 'composer.lock'
    - '**.php'
    - '**.blade.php'
  pull_request:
    branches: [ dev, prototype ]
    paths:
    - 'composer.json'
    - 'composer.lock'
    - '**.php'
    - '**.blade.php'

jobs:
  laravel-tests:

    runs-on: ubuntu-latest

    steps:
    - uses: shivammathur/setup-php@2.9.0
      with:
        php-version: '8.0'
    - uses: actions/checkout@v2
    - name: Cache Composer packages
      uses: actions/cache@v2
      with:
        path: vendor
        key: php-${{ hashFiles('**/composer.lock') }}
    - name: Create test database
      run: |
        sudo systemctl start mysql.service
        mysqladmin create aina --user="root" --password="root"
    - name: Copy .env
      run: php -r "file_exists('.env') || copy('.env.example', '.env');"
    - name: Install Dependencies
      run: composer install -q --no-ansi --no-interaction --no-scripts --no-progress --prefer-dist
    - name: Generate key
      run: php artisan key:generate
    - name: Directory Permissions
      run: chmod -R 777 storage bootstrap/cache
    - name: Execute tests (Unit and Feature tests) via PHPUnit
      env:
        DB_PASSWORD: root
        DB_HOST: localhost
      run: |
        php artisan migrate
        php artisan storage:link
        vendor/bin/phpunit --coverage-clover coverage.xml
    - name: Upload coverage to Codecov
      run: bash <(curl -s https://codecov.io/bash)
