name: Lint and analyze PHP code

on:
  push:
    branches: [ dev, prototype ]
    paths:
    - '**.php'
  pull_request:
    branches: [ dev, prototype ]
    paths:
    - '**.php'


jobs:
  php-lint-analyze:

    runs-on: ubuntu-latest

    steps:
    - uses: shivammathur/setup-php@2.9.0
      with:
        php-version: '8.0'
    - uses: actions/checkout@v2
    - name: Cache Composer packages
      uses: actions/cache@v2
      with:
        path: vendor
        key: php-${{ hashFiles('**/composer.lock') }}
    - name: Install Dependencies
      run: composer install -q --no-ansi --no-interaction --no-scripts --no-progress --prefer-dist
    - name: Perform static analysis
      run: composer analyze
