/* This file contains all styles related to the application layout. */
.header--tabbed {
    background-color: var(--header-tabbed-background);
    border-block-end: 0;
    border-block-end: var(--border) solid var(--header-tabbed-border-color);
    border-inline: 0;
    left: calc(50% - 50vw);
    margin-block-start: calc(-1 * var(--space-0));
    padding-block: var(--space-12);
    position: relative;
    width: 100vw;
}

.nav--tabbed {
    background-color: var(--nav-tabbed-background);
    border-block-end: var(--border) solid var(--nav-tabbed-border);
    border-inline: 0;
    box-shadow: var(--nav-tabbed-shadow);
    left: calc(50% - 50vw);
    margin-block-end: var(--space-12);
    padding-inline: 0;
    position: relative;
    width: 100vw;
}

.nav--tabbed > div {
    margin-block-end: calc(-1 * var(--border));
}

.nav--tabbed ul {
    flex-direction: column;
    gap: 0;
}

.nav--tabbed a {
    justify-content: flex-start;
}

@media (min-width: 64rem) {
    .nav--tabbed ul {
        flex-direction: row;
        gap: unset;
    }

    .nav--tabbed a {
        justify-content: center;
    }
}
