aside {
    border: var(--border) solid;
    margin-block-start: var(--space-7);
}

@media (min-width: 200ch) {
    aside {
        border: var(--border) solid;
        float: right;
        margin-inline-end: calc(((100vw - 65ch) / 2) - 20ch);
    }
}
