// -----------------------------------------------------------------------------
// This file contains all styles related to the banner layout.
// -----------------------------------------------------------------------------
[role="banner"] {
    border-block-end: var(--ll-border-medium);
}

@media (min-width: 1024px) {
    [role="banner"] .wrapper {
        align-items: center;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        margin-block: var(--step-2);
        max-width: 130ch;
    }
}
