// -----------------------------------------------------------------------------
// This file contains all styles related to the banner layout.
// -----------------------------------------------------------------------------
[role="banner"] {
    border-block-end: var(--ll-border-medium);
}

@media (--lg-n-above) {
    [role="banner"] .wrapper {
        align-items: center;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        margin: 0 auto;
        max-width: 130ch;
        width: 100%;
    }
}
