/* This file contains all styles related to the banner layout. */
[role="banner"] {
    background-color: var(--theme-banner-background, white);
    border-block-end: var(--border-size-1) solid var(--banner-border);
    box-shadow: var(--banner-shadow);
    position: relative;
}

[role="banner"] .wrapper {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    padding-inline: var(--size-3);
}

@media (min-width: 1024px) {
    [role="banner"] .wrapper {
        box-sizing: content-box;
        margin-inline: auto;
        padding-inline: var(--size-5);
        width: 100%;
    }
}
