[role="contentinfo"] {
    border-block-start: var(--border) dashed var(--footer-border);
    margin-block-start: auto;
}

[role="contentinfo"] h2 {
    font-size: var(--text-lg);
    font-size: var(--text-fluid-lg);
}

[role="contentinfo"] h3 {
    font-size: var(--text-base);
    font-weight: var(--font-semibold);
}

[role="contentinfo"] a,
[role="contentinfo"] .brand {
    font-weight: var(--font-semibold);
}

[role="contentinfo"] .brand {
    margin-block: 0;
}

[role="contentinfo"] .center {
    padding-block: var(--space-16);
    padding-inline: var(--space-4);
}

[role="contentinfo"] nav .stack {
    --space: var(--space-1);
}

[role="contentinfo"] .grow\:2 {
    flex-grow: 2;
}

[role="contentinfo"] .switcher {
    --gap: var(--space-6);
}

[role="contentinfo"] > .switcher > .switcher {
    --threshold: calc(var(--max-w-prose) / 2);
}

@media (min-width: 48rem) {
    [role="contentinfo"] h2 {
        font-size: var(--text-xl);
        font-size: var(--text-fluid-lg);
    }

    [role="contentinfo"] h3 {
        font-size: var(--text-base);
    }
}

@media (min-width: 75rem) {
    [role="contentinfo"] h2 {
        font-size: var(--text-2xl);
        font-size: var(--text-fluid-lg);
        font-weight: var(--font-normal);
    }

    [role="contentinfo"] h3 {
        font-size: var(--text-base);
    }
}
