footer {
    background: var(--footer-background);
    color: var(--footer-color);
    margin-block-start: auto;
}

footer h2,
footer h3 {
    color: var(--footer-heading-color);
}

footer h2 {
    font-size: var(--font-size-2);
    font-size: var(--text-fluid-lg);
}

footer h3 {
    font-size: var(--font-size-1);
    font-weight: var(--font-weight-6);
}

footer a,
footer .brand {
    color: inherit;
    font-weight: var(--font-weight-6);
}

footer .brand {
    margin-block: 0;
}

footer .center {
    padding: var(--size-9) var(--size-3);
}

footer nav .stack {
    --space: var(--size-1);
}

footer .grow\:2 {
    flex-grow: 2;
}

footer .switcher {
    --gap: var(--size-5);
}

footer > .switcher > .switcher {
    --threshold: calc(var(--max-w-prose) / 2);
}

@media (min-width: 48rem) {
    footer h2 {
        font-size: var(--font-size-3);
        font-size: var(--text-fluid-lg);
    }

    footer h3 {
        font-size: var(--font-size-1);
    }
}

@media (min-width: 75rem) {
    footer h2 {
        font-size: var(--font-size-4);
        font-size: var(--text-fluid-lg);
        font-weight: var(--font-weight-4);
    }

    footer h3 {
        font-size: var(--font-size-1);
    }
}
