/* This file contains all styles related to form layouts in the application. */

.field > * + *,
fieldset > * + * {
    margin-block-start: var(--space-2);
}

.field > legend + *,
fieldset > legend + * {
    margin-block-start: var(--space-5);
}

form .repel:not([class*="my-"]):last-child {
    margin-block-start: var(--space-12);
}

form.disabled {
    opacity: 0.5;
    pointer-events: none;
}
