/* This file contains all styles related to form layouts in the application. */

.field > * + *,
fieldset > * + * {
    margin-block-start: var(--size-2);
}

.field > legend + *,
fieldset > legend + * {
    margin-block-start: var(--size-4);
}

form .repel:last-child {
    margin-block-start: var(--size-8);
}
