/* This file contains all styles related to the guest layout of the application. */
.guest {
    background-color: var(--guest-body-background);
}

.guest [role="banner"] {
    border-block-end-color: var(--guest-banner-border);
}

.guest main {
    padding-block: 0;
}

.guest .cover {
    --height: calc(100vh - var(--space-16));
}

.stack.hero {
    --space: var(--space-6);
}
