/* This file contains all styles related to the guest layout of the application. */
.guest {
    background-color: var(--guest-body-background);
}

.guest main {
    padding-block: 0;
}

.guest .cover {
    --height: calc(100vh - var(--size-9));
}

.stack.hero {
    --space: var(--size-5);
}
