/* This file contains all styles related to the header layout. */
[role="banner"] {
    background-color: var(--banner-background);
    border-block-end: var(--border) solid var(--banner-border);
    box-shadow: var(--banner-shadow);
    position: relative;
    z-index: 1;
}

[role="banner"] > .center {
    --gutter: var(--space-4);
}
