/* This file contains very basic styles. */
html:focus-within {
    scroll-behavior: auto;
}

body {
    background: var(--body-background);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    min-height: 100vh;
}

main {
    margin-inline: auto;
    max-width: var(--measure);
}
