/* This file contains very basic styles. */
html:focus-within {
    scroll-behavior: auto;
}

body {
    background: var(--body-background);
    display: grid;
    grid-template-rows: auto 1fr auto;
    min-height: 100vh;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

main .back-to-top {
    background-color: var(--content-accent-background);
    margin-block-start: var(--space-8);
    padding-block: var(--space-10);
}

main .back-to-top .center {
    --gutter: var(--space-4);
}

main .back-to-top a:visited {
    color: var(--link-color);
}

main > .center .full {
    padding-inline: var(--space-4);
}

main .content > *:not(.nav--tabbed, .alert, .with-sidebar, .px-0),
main article > header {
    padding-block-start: var(--space-8);
    padding-inline: var(--space-4);
}

.with-sidebar > * {
    padding-inline: var(--space-4);
}

::selection {
    background-color: var(--selection-background);
    color: var(--selection-color);
}

@media (min-width: 75rem) {
    main > .center {
        --gutter: var(--space-4);
    }

    main > .center .full {
        padding-inline: 0;
    }
}

ul {
    margin-block: 0;
}
