// -----------------------------------------------------------------------------
// This file contains CSS helper classes.
// -----------------------------------------------------------------------------
.js [x-cloak] {
    display: none !important;
}

[role="list"] {
    padding-inline-start: 0;
}

.float-left {
    float: left;
    margin-inline-end: var(--step-0);
}

.float-right {
    float: right;
    margin-inline-start: var(--step-0);
}

.box {
    border: var(--ll-border-medium);
    border-radius: var(--ll-border-radius);
    padding: var(--step-0);
}
