/**
 * Basic typography style for copy text
 */

body {
    color: var(--body-color);
    font-family: var(--tae-font-family-base);
    font-size: var(--font-size-1);
    line-height: var(--font-lineheight-3);
}

* + h1,
* + h2,
* + h3,
* + h4,
* + h5 {
    margin-block-start: 1em;
}

h1,
h2,
h3 {
    font-family: var(--tae-font-family-display);
}

h1 {
    color: var(--h1-color);
    font-size: var(--font-size-6);
    font-size: var(--tae-font-size-fluid-5);
    font-weight: var(--font-weight-7);
}

h2 {
    color: var(--heading-color);
    font-size: var(--font-size-5);
    font-size: var(--tae-font-size-fluid-4);
    font-weight: var(--font-weight-7);
}

h3 {
    color: var(--heading-color);
    font-size: var(--font-size-3);
    font-size: var(--tae-font-size-fluid-3);
    font-weight: var(--font-weight-7);
}

h4 {
    color: var(--heading-color);
    font-family: var(--tae-font-family-base);
    font-size: var(--font-size-2);
    font-size: var(--tae-font-size-fluid-2);
    font-weight: var(--font-weight-6);
}

@media (min-width: 768px) {
    h1 {
        font-size: var(--font-size-9);
        font-size: var(--tae-font-size-fluid-5);
    }

    h2 {
        font-size: var(--font-size-6);
        font-size: var(--tae-font-size-fluid-4);
        font-weight: var(--font-weight-5);
    }

    h3 {
        font-size: var(--font-size-4);
        font-size: var(--tae-font-size-fluid-3);
        font-weight: var(--font-weight-5);
    }

    h4 {
        font-size: var(--font-size-3);
        font-size: var(--tae-font-size-fluid-2);
    }
}

@media (min-width: 1200px) {
    h1 {
        font-size: var(--font-size-10);
        font-size: var(--tae-font-size-fluid-5);
    }

    h2 {
        font-size: var(--font-size-7);
        font-size: var(--tae-font-size-fluid-4);
    }

    h3 {
        font-size: var(--font-size-5);
        font-size: var(--tae-font-size-fluid-3);
    }

    h4 {
        font-size: var(--font-size-4);
        font-size: var(--tae-font-size-fluid-2);
        font-weight: var(--font-weight-4);
    }
}
