/**
 * Basic typography style for copy text
 */

body {
    font-family: "Open Sans", sans-serif;
    font-size: var(--font-size-1);
}

* + h1,
* + h2,
* + h3,
* + h4,
* + h5 {
    margin-block-start: 1em;
}

h1,
h2,
h3 {
    font-family: Montserrat, sans-serif;
}

h1 {
    font-size: var(--font-size-8);
    font-weight: var(--font-weight-7);
}

h2,
h3 {
    font-weight: var(--font-weight-4);
}

h2 {
    font-size: var(--font-size-6);
}

h3 {
    font-size: var(--font-size-5);
}

h4 {
    font-size: var(--font-size-3);
    font-weight: var(--font-weight-6);
}

h5 {
    font-size: var(--font-size-1);
    font-style: italic;
}
